[2019-12-28 23:04] komarovalexander opened #6 "Filter Row throws an error in case if field is different with column key"
Try to filter by 'Name' column in this demo:
https://stackblitz.com/edit/table-filter-row-ts-yzdcfn?file=Demo.tsx

An error will occur:
'Cannot read property 'toLowerCase' of undefined'

Expected behavior:
The table should filter data by field name not the key (in case if the field is specified)

[2019-12-28 23:19] #6 closed

[2020-01-14 21:16] komarovalexander opened #17 "Add ability to show custom message in case of no data in the table"
![image](https://user-images.githubusercontent.com/17903747/72383272-6f597600-371b-11ea-8ace-f5b3fb301760.png)

[2020-01-16 22:52] komarovalexander opened #19 "Improve 'Custom cell' demo"
[Custom Cell demo](https://komarovalexander.github.io/ka-table/#/custom-cell) does not show all the power of this grid. There should be more real business case together with charts in cells and maybe some tooltips.

[2020-01-16 22:55] komarovalexander opened #20 "Add 'Overview' Demo to show main features on one page"

[2020-01-17 17:11] #17 closed

[2020-01-19 10:11] komarovalexander opened #21 "Data nested fields support"
At this time there is no way to show data nested fields, it should be supported this way:

[code]

[2020-01-21 21:49] komarovalexander opened #23 "column.format option should work for grouped column value"
this code
`
      format: (value: boolean) => {
        return 'Loyal Program: ${value ? 'yes' : 'no'}';
      },
`

instead of
![image](https://user-images.githubusercontent.com/17903747/72846076-2320af80-3ca0-11ea-9d54-1b47b9a077fa.png)
should return formatted value

[2020-01-25 11:25] komarovalexander opened #24 "Table throws an error while search by data if there is null value in the cell"
https://stackblitz.com/edit/table-search-js-az1ypk?file=Demo.js
 https://stackblitz.com/edit/table-filter-row-js-zh3w7a?file=Demo.js

[2020-01-25 15:47] #23 closed

[2020-01-25 15:48] #21 closed

[2020-01-25 15:48] #20 closed

[2020-01-26 12:47] komarovalexander opened #25 "-"
The Table can only be sorted by a single column, would be great to sort by multiple columns with the ability to set the priority

[2020-01-26 13:27] komarovalexander opened #26 "Add IsEmpty & IsNotEmpty filterOperators"
To give ability to filter by null & undefined & empty string values

[2020-01-27 19:09] #26 closed

[2020-01-27 19:10] #24 closed

[2020-01-29 20:33] komarovalexander opened #29 "Add horizontal scroll bar in case of many columns"
![image](https://user-images.githubusercontent.com/17903747/73394965-e461a980-42de-11ea-950a-03bdcc70f6b3.png)
This scroll should also scroll the header

[2020-01-30 23:57] komarovalexander opened #30 "Improve package publishing"
all dts and js files can be generated by
`tsc --declaration --jsx react --esModuleInterop true --outDir dist src/lib/index.ts`
use it instead of gulp task

[2020-01-31 17:03] Snupas opened #31 "Table selection JS example bug"
Currently, the onchange event handler conditional for the checkbox input is set to:

` if (event.currentTarget.checked) {
          dispatch(ActionType.SelectRow, { rowKeyValue });
        } else {
          dispatch(ActionType.SelectRow, { rowKeyValue });
        }`
https://stackblitz.com/edit/table-selection-js?file=Demo.js

Should be like in the TS example:

`
        if (event.currentTarget.ch

[2020-01-31 18:49] komarovalexander commented on #31
Hi @Snupas
Thank you for your feedback, the issue was Fixed
https://stackblitz.com/edit/table-selection-js?file=Demo.js

[2020-01-31 18:49] #31 closed

[2020-02-07 16:55] komarovalexander opened #32 "Add ability to customize template for grouped cell"
[Column](https://github.com/komarovalexander/ka-table#Column) has a cell option and grid has dataRow option, a similar option should be for groupedRow

[2020-02-08 22:10] komarovalexander opened #33 "Table throws an exception after change data in the first row if all data is in ISO 8601 string format"
Open demo https://stackblitz.com/edit/table-custom-cell-js?file=data.js and change data in the first row

[2020-02-08 22:10] #19 closed

[2020-02-11 21:43] #33 closed

[2020-02-11 21:43] #32 closed

[2020-02-11 21:46] #25 closed

[2020-02-16 19:07] #29 closed

[2020-02-17 19:34] komarovalexander opened #36 "Add pagination"

[2020-02-17 19:39] komarovalexander opened #37 "Add loading indicator"

[2020-02-17 20:28] komarovalexander opened #38 "Add message panel"

[2020-04-24 20:07] yarokon opened #50 "Scrolling flickers when using virtual scrolling"
Steps to reproduce:
1. add `virtualScrolling: { }` to the table options
2. populate the table with a small amount of data
3. try to scroll almost to the top or almost to the bottom

type: bug
version: 3.2.1
react: 16.13.1

[2020-04-24 20:46] komarovalexander commented on #50
reproduced https://stackblitz.com/edit/table-many-rows-ts-rbc6s8?file=Demo.tsx

[2020-04-24 23:41] komarovalexander commented on #50
Thanks for finding this issue!
Fixed in 3.2.2
example: https://stackblitz.com/edit/table-many-rows-ts-nrsdv7?file=Demo.tsx

[2020-04-27 17:42] yarokon commented on #50
Thanks for the quick fix

[2020-04-29 14:23] MishaSavchak opened #54 "How to extract data from the table?"
Is there any method/event to extract data from the table?
For example:
if we use search, filter or something like that then we can't get back filtered data from the table to our component.
Can you help with that?

Thanks.

[2020-04-29 14:59] komarovalexander commented on #54
Hi
for the quick answer, there is a workaround with prepareTableOptions https://stackblitz.com/edit/table-sorting-ts-rabjrp?file=Demo.tsx (line 39)
(this is unofficial and I would recommend to use it only as a workaround - probably this will be changed in the further release if the official way will be provided - I will notify you here)

I will investigate it better and update the issue once Table

[2020-04-29 17:13] MishaSavchak commented on #54
Hi Alexander,
It super awesome for me. Thanks for the your quick response and for the excellent job.

Thanks!

[2020-05-01 10:44] #54 closed

[2020-05-01 10:48] komarovalexander commented on #54
Hi @MishaSavchak
Started from 3.4.1 you can use kaPropsUtils.getData for this purpose
https://github.com/komarovalexander/ka-table/releases/tag/3.4.1

[2020-05-01 15:14] MishaSavchak commented on #54
Hi @komarovalexander,

Cool, it works fine for me :)

Thanks!

[2020-05-31 16:49] BedroomDev opened #58 "Add Server-side Pagination option to Pagination"
Would be nice to be possible to add a total number of pages together with the current index.

This way Server-sided pagination is possible, useful and needed for Rest API data.

Usage example :
https://developer.wordpress.org/rest-api/using-the-rest-api/pagination/

[2020-05-31 18:17] prabodh1194 opened #59 "How to format a row selectively"
Hi,

I have created a table which displays a bunch of numbers in individual rows and last row displays a sum of those numbers. I need to format that row particularly so as to make it bold or add some border. Is there a row level formatting that I can specify?

Thanks.

[2020-05-31 18:28] komarovalexander commented on #58
Hi. Thanks for great proposal! I will implement it in further releases in June

[2020-05-31 18:54] komarovalexander commented on #59
Hi @prabodh1194
You can do it in css:

[code]

example https://stackblitz.com/edit/table-overview-ts-og5g7j?file=style.scss

[2020-05-31 23:17] #58 closed

[2020-05-31 23:20] komarovalexander commented on #58
you can use it starting from 3.7.1 version
https://github.com/komarovalexander/ka-table/releases/tag/3.7.1

[2020-06-01 11:56] prabodh1194 commented on #59
Thanks for the neat solution. I definitely didn't think of that.

[2020-06-01 11:56] #59 closed

[2020-06-01 12:56] BedroomDev commented on #58
Thank you very much! I tried to implement it myself and did mostly the same thing, but i could get Typescript to work/compile

[2020-06-05 12:42] yarokon opened #62 "Nested data support"
Is it possible to define a key prop using lodash-like dot paths syntax to reference nested values?

[2020-06-05 15:02] komarovalexander commented on #62
HI, check this demo https://stackblitz.com/edit/table-custom-cell-js?file=Demo.js
as in js, you can set field name with dots
![image](https://user-images.githubusercontent.com/17903747/83891686-dbca2580-a74d-11ea-9f39-a180d92dfcb9.png)
I've decided to avoid this approach
but I've added fieldParents property where you can set up the same settings but in another way

tell me if it is not sufficient

[2020-06-21 19:56] komarovalexander opened #63 "ka-details-row td should have colspan"
![image](https://user-images.githubusercontent.com/17903747/85233883-fec12e80-b409-11ea-97bc-24fd381fd73d.png)

[2020-06-26 20:38] #63 closed

[2020-07-17 11:52] yarokon opened #67 "How to pass additional props for <tr />?"
Recently, I received a requirement to show a `tooltip` for each row that will show a description. But it seems that it's not possible to do it right now. It will be nice to have `rowProps` prop to customize each row of the table. In addition, it would be useful, for example, to change the background color depending on the row data. I know that there is an example showing additional data at the bot

[2020-07-17 11:54] #62 closed

[2020-07-17 12:47] komarovalexander commented on #62
@yarokon actually I don't like my solution with fieldParents, so will be released next major 4.0 version at the end of this week where lodash-like dot paths syntax will be used instead of fieldParents

[2020-07-17 12:52] komarovalexander commented on #67
Hi, @yarokon  I'm working on this now, at the end of this week Table will have such functionality. Thanks for the proposed scenario I will add something similar to the demos page

[2020-07-19 16:19] komarovalexander commented on #67
Hi @yarokon
Starting from new major release 4.0.1 this ability has been added.
See demo https://komarovalexander.github.io/ka-table/#/custom-attributes

be aware that some breaking changes were made in new major version
info how to fix them are available here https://github.com/komarovalexander/ka-table/releases/tag/4.0.1

[2020-07-19 16:19] #67 closed

[2020-07-19 16:21] komarovalexander commented on #62
starting from version 4.0 fieldParents were removed and lodash-like dot paths syntax is used instead

[2020-07-28 12:47] boverU opened #70 "Type issue in kaReducer.ts on line 77"
Full error message:  **node_modules/ka-table/Reducers/kaReducer.ts(77,20):
Property 'text' does not exist on type '{ enabled: boolean; } | { enabled: boolean; text?: string | undefined; }'.
  Property 'text' does not exist on type '{ enabled: boolean; }'.  TS2339**

[2020-07-28 17:10] #70 closed

[2020-08-05 07:54] boverU opened #73 "Implementation of mutiselect range of elements in table"
Can you make the ability to multiselect range of elements? For example I have 100 elements, I wanna select from 5th to 60th element. Expected behavior - clicking the element I want to start select, then pressing **shift** and the which to I wanted to select. Kind of slice method.

[2020-08-06 21:03] #73 closed

[2020-08-06 21:09] komarovalexander commented on #73
selectRowsRange action creator was added for this purpose, see https://komarovalexander.github.io/ka-table/#/selection demo

thanks for the useful issue!

[2020-08-07 07:20] boverU opened #75 "Deselect range with shiftKey"
Deselect from the range of selected items. For example, selected 100 items and I want to deselect from 20 to 40th element.

[2020-08-07 12:12] boverU opened #76 "Access to paging component"
To have an access to paging component in order to customize styles, etc.

[2020-08-07 17:27] komarovalexander commented on #75
Hello @boverU
I created a demo https://stackblitz.com/edit/table-selection-ts-jvpr1r?file=Demo.tsx which you can use for implementing the solution for multiple deselect.
In this demo I created a custom action `{ type: 'DeselectRange', rowKeyValue }` and pass it to `customReducer` - you can do it the same way
as for implementing it out-of-the-box - I did not found any cases in other grids how it ca

[2020-08-09 11:27] #76 closed

[2020-08-09 11:31] komarovalexander commented on #76
https://komarovalexander.github.io/ka-table/#/bootstrap done in 4.3.1

[2020-08-10 11:49] boverU opened #78 "Warning when adding pagination info to tablePropsInit"
when adding this piece of code` paging: {
      enabled: true,
      pageIndex: 1,
      pageSize: 10,
    },` from demo,  run into the following error - **Cannot update a component (`KaTable`) while rendering a different component (`PagingPages`). To locate the bad setState() call inside `PagingPages`, follow the stack trace as described in https://fb.me/setstate-in-render**.
Passing the total nu

[2020-08-10 17:41] #78 closed

[2020-08-10 17:41] komarovalexander commented on #78
Fixed in 4.3.2
Thanks for finding that!

[2020-08-23 21:24] #75 closed

[2020-08-31 09:32] yarokon opened #82 "The scrollbar should not be a part of the header"
The scrollbar that takes the entire height of the table does not look very good compared to the scrollbar that only takes the height of the body. Is it possible to return the previous behavior as it was in all versions 4 and below?

![Selection_602](https://user-images.githubusercontent.com/4423716/91699738-6cfa3e00-eb7d-11ea-9601-8e4db02ece7b.png)

[2020-08-31 14:31] komarovalexander commented on #82
Hello @yarokon. Thanks for the question. I'm on vacation and don't have my laptop with me. But I will be back in 4 days and will have a look at thus issue at the end of this week. Thanks again for being attentive to details and provide so valuable feedback

[2020-09-04 14:50] komarovalexander commented on #82
Hi @yarokon

ka-table with versions 4 and below had tbody with display: block

it worked ideally in case of overflow-y, but overflow-x had some issues because it did not scroll the header.

To fix issues with overflow-x I had added some js hacks, they worked ok (actually mobile version had small delays) before I started the implementation of column reordering - I wanted to scroll the table when I

[2020-09-04 14:50] #82 closed

[2020-09-18 12:29] danilodecanini opened #86 "Order by Selected Rows"
Hey there,

I would like to know how I can insert a filter in SelectionHeader to order by selected rows and deselected rows, a ordernation just like the other fields with the arrow down and arrow up, is there an easy way to do so?

[2020-09-18 14:32] komarovalexander commented on #86
Hi at this time there is no out-of-the-box solution for that
but I can propose you a workaround please check the demo and comments in it
https://stackblitz.com/edit/table-selection-ts-j1crry?file=Demo.tsx

[2020-09-18 17:14] danilodecanini commented on #86
Hi @komarovalexander, I checked the demo and replicate to my code and works pretty well!

Thank you so much

[2020-09-18 17:14] #86 closed

[2020-09-22 17:11] danilodecanini opened #88 "Selecting items according to their filter"
Hey @komarovalexander ,

It's just a question, but is there a way that I can filter my rows and click on 'Select All' checkbox and select just the items that is on the table in that moment?

Idk if i'm clear enough, here's an example:

I have a table with 2 column's: Restaurant Name and City, in that table I filter by city typing a city name that I have a lot of restaurants (5-9 pages) and I want

[2020-09-22 19:13] komarovalexander commented on #88
Hi @danilodecanini I got your requirements,
I think this should be implemented out-of-the-box,
So this weekend this feature will be added in the new version of the component

thanks for this question

[2020-09-22 19:25] komarovalexander commented on #88
btw if you need the solution now, you can do it this way with a little bit additional code: https://stackblitz.com/edit/table-selection-ts-eik9cd?file=Demo.tsx

[2020-09-23 17:26] komarovalexander commented on #88
Lets keep this issue oppened. I will add some settings to make selection stuff with less code

[2020-09-24 11:11] danilodecanini commented on #88
@komarovalexander, thank you again,

I did the way that you did on demos, and it worked perfectly.

The Deselect All works the same way ?

[2020-09-24 11:39] komarovalexander commented on #88
If you want to override deselect behavior you also can do it in custom reducer. Let me know if you need help with it

[2020-09-25 17:31] komarovalexander commented on #88
to deselect visible items: https://stackblitz.com/edit/table-selection-ts-vgkr2s?file=Demo.tsx
to deselect all filtered items: https://stackblitz.com/edit/table-selection-ts-fef61o?file=Demo.tsx

[2020-09-25 17:36] komarovalexander commented on #88
but your question is quite reasonable and maybe it is worth adding a couple of methods to simplify select/deselect for these cases. I will keep this issue opened, will try to find a way how to do it with less code. At least this select/deselect logic seems should be out of the box in kaReducer at least

[2020-09-25 17:42] danilodecanini commented on #88
@komarovalexander awesome!

It worked perfectly well!

It would be interesting if in a possible next version the select all and deselect all methods could be more easily to implement!

Thank you again

[2020-09-27 07:22] #88 closed

[2020-09-27 07:33] komarovalexander commented on #88
Hi @danilodecanini you can use version 5.2.0
it has these action creators:
[code]
also there is `kaPropsUtils.areAllFilteredRowsSelected(tableProps)` for checkbox in the header

release: https://github.com/komarovalexander/ka-table/releases/tag/5.2.0
demo: https://komarovalexander.github.io/ka-table/#/selection

[2020-09-28 13:52] danilodecanini commented on #88
Hey @komarovalexander,

I'll use this new version with the new actions, thank you again and congrats for this awesome library.

[2020-10-08 06:56] Procenkin opened #91 "Table does not show data with dots in the property name"
If there is '.' in the field name then property data will not be shown

TableProps = {
  columns: [
    { **key: 'column1.one'**, title: 'Column 1', dataType: DataType.String },
    { **key: 'column2.two'**, title: 'Column 2', dataType: DataType.String },
    { **key: 'column3.three'**, title: 'Column 3', dataType: DataType.String },
  ],
  data: [
{**key:"column1.one"**, title:"Column 1", dataTyp

[2020-10-09 18:35] komarovalexander commented on #91
Hi @Procenkin ,
starting from 5.3.0 you can override the default delimiter by this way:
[code]
Demo https://stackblitz.com/edit/table-overview-js-xfrh64?file=Demo.js

cheers

[2020-10-09 19:09] #91 closed

[2020-10-21 13:16] komarovalexander opened #93 "Add warning in case of wrong data type in column"
if the column has a number value and the data type is wrong, ka-table should show a warning in the console about that

[2020-10-21 17:38] komarovalexander commented on #93
+ dataType should be optional. In case it is not set it should be calculated by the Table

[2020-10-22 20:30] mihaibrana opened #94 "Any way to hide a column?"
Hello :). Been using your light-weight component for a few weeks now. It's been a nice experience. Good work! :). Love the hassle-free, declarative setup you created.

I'm still new to React and perhaps I'm missing some key JavaScript concepts... but... I'm having some trouble easily hiding columns.

As you indicate in the docs, I'm using an object to initialize the table. But if I want to hide a

[2020-10-22 21:46] komarovalexander commented on #94
Hi @mihaibrana,
Thanks for the question, I don't have plans to add columns settings to childComponent because in this object you can control real components which are rendered inside the table. And there is no column component, there are only rows and cells inside them.
but your question about the *visible* property is quite reasonable - I think you are right it would be better to have this proper

[2020-10-22 21:59] mihaibrana commented on #94
Working (or playing, depending on your perception) late I see :).

Thank you for the quick (and educative) response!

Both these approaches are fine. I see that the reducer approach also uses .filter, but is slightly more verbose. I suppose that the reducer is better because it cuts the data before it even reaches the point when it needs to be hidden. Is this correct?

Sure, the childComponents id

[2020-10-22 22:12] komarovalexander commented on #94
Yes, you are right. Reducer cuts colum data from tableProps. I agree that approach with visible property would be much better. It will be added in next versions. I just was waiting the request for this feature😉

[2020-10-24 20:48] komarovalexander opened #96 "Add EditingMode.CellOnChange"
EditingMode.Cell updates value only on blur, at this time only one way to override this behavior is childComponents. Maybe Would be useful to have a separate Editing mode for it

[2020-10-24 21:30] komarovalexander opened #97 "Update to React 17"

[2020-10-28 08:42] #94 closed

[2020-10-28 08:45] komarovalexander commented on #94
Hi @mihaibrana

column.visible property is available starting from 5.5.0 version

demo: https://komarovalexander.github.io/ka-table/#/column-settings
release: https://github.com/komarovalexander/ka-table/releases/tag/5.5.0

[2020-10-31 14:58] komarovalexander opened #100 "Add warning in case of wrong dataType"
To notify about additional data transformation

[2020-11-25 22:39] dsego opened #102 "Custom search bug - multiple children with the same key"
Modified [search example ](https://komarovalexander.github.io/ka-table/#/search) to include a participant named "Falsey False".
Searching for the score "false" produces a bug, where the row with Falsey False is shown twice.

See here:
https://stackblitz.com/edit/table-search-js-bbjoov?file=Demo.js

Console error:
[code]

[2020-11-25 23:09] komarovalexander commented on #102
Hi @dsego
Good catch!
Will fix it soon

[2020-11-25 23:24] #102 closed

[2020-11-25 23:25] komarovalexander commented on #102
The issue was fixed in 6.0.1 version

Example: https://stackblitz.com/edit/table-search-js-bbytq6?file=Demo.js

[2021-01-18 01:19] barucAlmaguer opened #111 "Question: Is there a way to navigate the table with key arrows?"
Hi, great project! looking forward to use it and give feedback about it 😄

I was looking at the demos (specially, the "focus" one) and it works fine, I just have this question.

The keyboard navigation in that demo seems very simple (iterate on each tab press, each row cell, then jump to next row).

Is there a way to turn it to a excel/google sheets navigation?
In this case, you could move around

[2021-01-18 20:48] komarovalexander commented on #111
Hi
Thanks for the question - It is a great proposal. I was thinking to add a demo with described behavior but decided to make the simplest one first and wait for feedback from users.

I wanted to provide you an example on stackblitz but it does not work properly this time
https://github.com/stackblitz/core/issues/1367 - I hope they will fix it soon.

The main idea of the ka-table is that it should

[2021-01-18 22:29] barucAlmaguer commented on #111
That's great!
yes, it works perfectly as a basis for keyboard navigation, thanks

I see what you mean, the current code needed for the keyboard navigation is rather verbose but otherwise works great.
a helper function to quickly add keyboard navigation would be awesome.

I will continue to use the table and drop further questions / suggestions in the issues page 👍🏼

[2021-01-24 17:35] komarovalexander commented on #111
Hi @barucAlmaguer
I've just released  6.4.0
It has some useful features for implementing keyboard navigation.
Check them out here: https://komarovalexander.github.io/ka-table/#/keyboard-navigation
Release page: https://github.com/komarovalexander/ka-table/releases/tag/6.4.0

[2021-01-24 18:47] #111 closed

[2021-01-25 10:37] Hkataya opened #113 "Multiple Selection does not work for any rowKeyField"

[2021-01-25 10:49] Hkataya opened #114 "Multiple Selection does not work for any "rowKeyField" value other than "id""
Hey, awesome project! really covers almost all use cases for a datatable.

I was checking the multiple selection demo ( https://stackblitz.com/edit/table-selection-js?file=Demo.js ) and it works well as long as rowKeyFiled : "id", once you change the value of the rowKeyField and update it in the data array, the selection stops working properly.

This is what I'm trying to achieve ( https://stackbl

[2021-01-25 12:24] komarovalexander commented on #113
Hi, I see you've created 2 issues. Is this issue duplicate for https://github.com/komarovalexander/ka-table/issues/114 ? if yes it can be closed as a duplicate, otherwise please add some details, thanks!

[2021-01-25 12:28] komarovalexander commented on #114
Hi @Hkataya
Do you mean the header checkbox does not work properly in the provided example? or there are other cases as well?
![image](https://user-images.githubusercontent.com/17903747/105705716-da35b380-5f10-11eb-8297-2a73eab2ba9f.png)

I will try to fix it today evening and will notify you when a new minor version will be published.
thanks for the feedback!

[2021-01-25 12:30] #113 closed

[2021-01-25 13:01] DmytroOSDB opened #115 "Column resize bug"
Hello @komarovalexander !
First of all, I want to thank you for the awesome and easy to use library.

It covers all my needs but I found one little thing:
If I enable both options **resizable** and **draggable** for a column, an event handler works in an unexpected way. When I try to resize a column dragging starts

Code example:
https://stackblitz.com/edit/table-column-reordering-ts-5kz3m4?file=D

[2021-01-25 13:31] DmytroOSDB commented on #115
Hello again!
I found a possible solution that works for me `src/lib/Components/HeadCellResize/HeadCellResize.tsx`. See marked lines **>>>**

[code]

[2021-01-25 16:53] komarovalexander commented on #115
Hi @DmytroOSDB
Thanks, you are right this is a solution!
will fix it soon

[2021-01-25 17:21] komarovalexander commented on #115
The issue has been fixed https://stackblitz.com/edit/table-column-reordering-ts-k4ekax?file=Demo.tsx
use 6.4.2 version
thanks!

[2021-01-25 17:22] #115 closed

[2021-01-25 17:40] komarovalexander commented on #114
Fixed https://stackblitz.com/edit/table-selection-js-czrbhu?file=Demo.js starting from `6.4.3` version

[2021-01-25 17:40] #114 closed

[2021-01-25 18:42] blinovksiyigor commented on #82
Hey @komarovalexander , i have the same issue with removing scrollbar in header. (6.4.3 ka-table version)
This what i have now [](https://stackblitz.com/edit/table-overview-ts-7ttw5y?file=Demo.tsx)
Is there a possibility to make this work without dispatching the scroll action (maybe some styles changes or additional props). I was using version 4.3.2 before and it worked just great.
Thanks

[2021-01-25 19:12] komarovalexander commented on #82
Hi @blinovksiyigor
thanks for feedback, at this time there is no option to implement it without additional code
I've just updated your example:
https://stackblitz.com/edit/table-overview-ts-qwn9re?file=Demo.tsx

it works as before. In <= 4.*versions I've used the same approach but under the hood. Now it is not so good for performance and some new features

[2021-01-26 11:00] DmytroOSDB commented on #115
Thank you for the quick update!

[2021-01-28 10:46] DmytroOSDB opened #118 "Cell Props"
Hello @komarovalexander

I found that the interface `IHeadCellProps` isn't fully typed. These props are used in `childComponents -> headCell -> elementAttributes`

[code]
![image](https://user-images.githubusercontent.com/77971524/106126559-2cbbdd80-6166-11eb-8b1b-057672ebb24b.png)

Many thanks, Dmytro

[2021-01-28 11:26] komarovalexander commented on #118
Hi @DmytroOSDB
Do you find these 3 options useful?
They were added in the last minor release as a result of the spread operator https://github.com/komarovalexander/ka-table/pull/117/files#diff-64504a23f1f40c3c2919d1c7b8c7aef13fcca3e8dace734764d343267368f10bR19
I think they should not be here and it should be fixed as a bug

[2021-01-28 13:59] #118 closed

[2021-01-28 13:59] komarovalexander commented on #118
fixed in 6.5.1

[2021-01-29 01:27] alphabetek opened #120 "Add dynamic page size selection"
Thanks for the great job to make this library available! It is loaded with awesome features, I think it would be really nice to have select input (like all paginated tables offer) to configure the number of rows per page. Looking at documentation and examples I don't see such option.

[2021-01-29 12:06] alphabetek opened #121 "Allow style customization for tbody element"
The promise of ka-table is to be able to customize every table html element, currently styles of tbody element are hard coded to use the default options.

[2021-01-29 12:14] alphabetek commented on #121
Fix proposal: https://github.com/komarovalexander/ka-table/pull/122

[2021-01-29 13:10] DmytroOSDB commented on #118
Thank you for the update!

[2021-01-29 17:54] komarovalexander commented on #121
this is great!

[2021-01-29 18:22] komarovalexander commented on #120
Hi @alphabetek , thanks for this request! I was considering adding it, but just was waiting for real requests from users. It is definitely worth to be implemented. I will add these settings soon (approx. in 2 day - 1 week)

[2021-01-29 20:15] komarovalexander commented on #121
6.5.2 version was published with this fix
Demo https://stackblitz.com/edit/table-overview-ts-jgng8w?file=Demo.tsx

[2021-01-29 20:15] #121 closed

[2021-01-30 21:52] #120 closed

[2021-01-30 21:55] komarovalexander commented on #120
6.6.0 has been released with this feature
Demo: https://komarovalexander.github.io/ka-table/#/paging
also, I've added a custom paging demo: https://komarovalexander.github.io/ka-table/#/custom-paging - can be useful as well

Cheers!

[2021-02-01 23:37] alphabetek commented on #120
Thanks @komarovalexander for the quick implementation! 🚀 👏

[2021-02-04 15:33] DmytroOSDB opened #124 "Minimal width for resizable columns"
Hello @komarovalexander :wave:

It would be great if you could add `minimal width` property for resizable columns which would specify width between two ends of a column despite what is inside
In my opinion, it could be even a config object to left some space for future developing like a
[code]

Thank you!

[2021-02-04 17:33] komarovalexander commented on #124
Hi @DmytroOSDB ,
how do you feel about `column.style.minWidth` & `column.style.maxWidth` properties https://stackblitz.com/edit/table-column-resizing-ts-dzzwt1?file=Demo.tsx ?
I already have support for minWidth in case of the resizable column, just need to add maxWidth support as well.
I think I will be able to add maxWidth support this weekend.
Thanks for being active!

[2021-02-05 09:00] DmytroOSDB commented on #124
Hi @komarovalexander
Thank you for the quick answer! Yes, it works for me :ok_hand: Could I ask you to add it to the main demo to highlight it for others?

I proposed `maxWidth` due to it related to `width` in general and its implementation should be pretty similar with `minWidth`

[2021-02-05 09:00] #124 closed

[2021-02-05 18:51] alphabetek opened #125 "Provide more control on paging component"
Hello @komarovalexander, this is a question/request for enhancement, here is the scenario I would like to achieve:

- Be able to scroll the table only with fixed footer (`Paging` component), which makes sense when the user has a large table with `Paging` activated, he shouldn't navigate till the bottom in order to change the page;
I have tried to hack around CSS of different native table elements

[2021-02-05 20:47] komarovalexander commented on #125
Hi @alphabetek

`.ka-table-wrapper` styles should help you with it
[code]
demo:  https://stackblitz.com/edit/table-paging-ts-jj5w1t?file=style.scss

as for

I think it should be done by overriding rootDiv structure https://stackblitz.com/edit/table-paging-ts-tivken?file=Demo.tsx , but paging should not be shown in the provided example - I will fix it as a bug soon

[2021-02-05 21:03] komarovalexander commented on #125
But maybe something like paging.position would be easier solution for second case

[2021-02-06 07:40] komarovalexander commented on #124
Hi @DmytroOSDB, I will add this case to the demo, thanks!
for `maxWidth` I will wait for a real use case and will add it later if required

[2021-02-06 07:56] #125 closed

[2021-02-06 07:56] komarovalexander commented on #125
6.6.1 : https://stackblitz.com/edit/table-paging-ts-dcrdyb?file=style.scss

[2021-02-13 10:50] komarovalexander commented on #125
HI @alphabetek
Starting from 6.7.0 you can use `paging.position` property
demo: https://komarovalexander.github.io/ka-table/#/paging

[2021-02-14 13:50] ianrae opened #128 "How to add normal react button to each row"
I would like to implement my own edit feature where each row would have a react-bootstrap button which, when clicked, would launch a modal dialog box that I implement.

Do I use events to do this?  How to I add a column of react buttons?

Thanks, and ka-table is fantastic. Thanks for creating it.

[2021-02-14 16:06] komarovalexander commented on #128
Hi @ianrae
Please check out this demo https://komarovalexander.github.io/ka-table/#/alert-cell it has custom column with image button and it shows alert dialog by click.
instead of image you can use bootstrap button, and modal dialog instead of alert.
Let me know if you need more info

[2021-02-14 21:49] ianrae commented on #128
Perfect. Thanks!

[2021-02-14 21:49] #128 closed

[2021-02-15 15:09] yarokon commented on #50
Hi, @komarovalexander. This issue is reproducible if the row height is different from another row height. Here is a link with a reproducible example: https://codesandbox.io/s/great-almeida-ojwhc?file=/src/Table.js

![ka-table](https://user-images.githubusercontent.com/4423716/107962394-91bd6300-6faf-11eb-9adf-7943a81cb615.gif)

[2021-02-15 16:58] komarovalexander commented on #50
Hi @yarokon
You can use `virtualScrolling.itemHeight` function to specify each row height
Demo: https://codesandbox.io/s/lucid-herschel-lwmxw?file=/src/Table.js

[2021-02-15 17:44] yarokon commented on #50
I have modified the example to be closer to a real-world example: https://codesandbox.io/s/great-almeida-ojwhc?file=/src/Table.js

How should I measure row height in this case?

It would be more correct if the table did these calculations, like here: [react-windowed-select](https://github.com/jacobworrel/react-windowed-select). Ideally, users using this table shouldn't have to think about how to p

[2021-02-15 19:03] komarovalexander opened #129 "Scrolling flickers when using virtual scrolling in case of dynamic row height"
I have modified the example to be closer to a real-world example: https://codesandbox.io/s/great-almeida-ojwhc?file=/src/Table.js

How should I measure row height in this case?

It would be more correct if the table did these calculations, like here: [react-windowed-select](https://github.com/jacobworrel/react-windowed-select). Ideally, users using this table shouldn't have to think about how to p

[2021-02-15 19:31] komarovalexander commented on #50
Thanks for the feedback!

The idea of the ka-table to make it a simple, extendable, lightweight, reliable library with a good performance - all these components will be damaged if I add virtualization logic out-of-the-box.
`react-windowed-select` it is just a wrapper for `react-select` & `react-window` but it is 120kb size (>45% of feature-rich `ka-table`) virtualization here is based on `react-wi

[2021-02-15 22:52] komarovalexander commented on #50
@yarokon how many dynamic items do you want to render with virtual scrolling >1k, > 10k, 100k, or more?

[2021-02-16 12:56] AlexK0210 opened #130 "While adding row with custom editor, updateCell creates row below."
There is a bug, when using Custom Editor for some inputs
While adding new row, when value in custom editor saved it proceed new row with values of custom editor.

[2021-02-16 16:55] yarokon commented on #50
Please upgrade to version 2.0.4 or higher. At the moment the latest version is 3.0.0

[2021-02-16 17:27] komarovalexander commented on #130
Hi @AlexK0210
May I ask you to fork and reproduce the issue on
ts https://stackblitz.com/edit/table-add-row-ts-geh46e?file=Demo.tsx
**or**
js https://stackblitz.com/edit/table-add-row-js-gfpwvc?file=Demo.js
example

[2021-02-16 17:37] AlexK0210 commented on #130
@komarovalexander yep, will do it a while

[2021-02-18 19:50] komarovalexander commented on #130
Hi @AlexK0210
You have to use `updateEditorValue` and it will work fine:
https://stackblitz.com/edit/table-add-row-ts-yprynw?file=Demo.tsx
Thanks for the question again!

[2021-02-18 19:51] #130 closed

[2021-02-21 16:39] komarovalexander commented on #50
Hi @yarokon ,
please update ka-table to `6.7.1` and use code from this demo: https://komarovalexander.github.io/ka-table/#/many-rows-dynamic

[2021-02-21 16:39] #50 closed

[2021-02-25 19:06] barucAlmaguer opened #134 "Question: Performance issues"
Hi!
I'm using the library and works great and is easily customizable 😄

I'm not sure if this is a ka-table performance issue or a pattern could be used to help improve performance (useMemo or the like):

# The problem

The table works super fast when using the default example with my custom styles:
![ka-table-performance-good](https://user-images.githubusercontent.com/16729556/109203004-3dfa0900-7

[2021-02-25 19:59] komarovalexander commented on #134
Hi @barucAlmaguer,
I like the look of your UI.
I think adding rendered items to the data array would be antipatern you probably should not do that.

ka-table should work pretty fast, I did not have such cases before, so it is an interesting issue
can you provide some demo example with the reproduced issue, I can investigate it
also
I see in each cell you use `Grid` & `Button` components - which li

[2021-02-25 20:36] barucAlmaguer commented on #134
Hi, thanks for the quick response!
I will try to setup a demo that mimics the performance issue.

The `Grid` and `Button` components do not seem to be the problem,
digging a little more it seems like the icons are the ones causing bad performance.

For example, this responds very quickly (without the icons):
![ka-table-no-icons](https://user-images.githubusercontent.com/16729556/109213607-6b00e880

[2021-02-25 21:54] barucAlmaguer commented on #134
https://codesandbox.io/s/confident-hooks-gwjb8?file=/src/components/KaTablePerformanceDemo.js

I made a minimal example creating an almost identical table, and It ran without any issue, even with the same pack of icons.
It's probably on my side (The inner workings of the "Icon" component).

I'll take a look but I think the issue may be closed as I pin-pointed the problem outside the library.

Than

[2021-02-25 22:57] #134 closed

[2021-03-11 14:48] registsys opened #135 "A new row cannot be added to an empty table"
We can't add new row when table haven't data.

[example](https://stackblitz.com/edit/table-add-row-js-ky82ru?file=Demo.js)

[2021-03-11 15:08] registsys commented on #135
https://github.com/komarovalexander/ka-table/pull/136

[2021-03-11 16:08] komarovalexander commented on #135
Hi @registsys ,
Thanks for finding that issue and proposing a pr to fix that. I will have a look at it today evening and will fix it soon. I will let you know if any updates

[2021-03-11 18:08] komarovalexander commented on #135
@registsys you can use `6.7.2` version https://stackblitz.com/edit/table-add-row-js-cafwsr?file=Demo.js

[2021-03-11 18:08] #135 closed

[2021-03-11 18:19] registsys commented on #135
Super fast!!! Thank you.

[2021-03-17 17:50] barucAlmaguer opened #138 "Question: Filter rows with complex data based on Select component"
Hi! thanks for your efforts and this library!

I'm on the middle of implementing it in a project of mine (and doing great with it), but I came to a problem to which I cannot find an answer from de demos:

Imagine you have a table with data like this:

[code]

As you can see, the "group" field is of object type, not a scalar.
I am trying to add a custom RowFilter like this:
![Screenshot from 2021-0

[2021-03-17 18:28] komarovalexander commented on #138
Hi @barucAlmaguer,
Thanks for your example! I will add api for doing that this weekend

[2021-03-17 19:04] barucAlmaguer commented on #138
Thanks for the quick response!

Following the same use-case, is there a way currently to provide a custom sorting function for these columns or additional API should be added too?

[2021-03-17 19:36] komarovalexander commented on #138
I think I can add it too, thanks!

[2021-03-17 23:34] komarovalexander commented on #138
Btw, small note regarding objects in data: you can access field using dots in field name: columns:[{ key: ‘group.name’ }] - maybe it could be useful for simple cases with single selection and for sorting as well - it is just FYI, anyway, additional customization abilities will be added

[2021-03-18 01:41] barucAlmaguer commented on #138
yes, thank you!
That's a great way to do it for simple use cases.

In this case I will hit a graphql server to store the updates, so it's nice to have the object as-is to allow me to grab the ID or other useful data when communicating for the server.

[2021-03-19 18:17] jorgecuesta opened #139 "VirtualScrolling.scrollTop not working as expected?"
Hi I was trying your component and try to figure out a way to trigger scroll to some row but didn't figure out a way by the row index, so looking the code see that I can sent the scrollTop inside of virtualScrolling, but when I try it insted of scroll I get a white space in the start of the table.

![Screen Shot 2021-03-19 at 2 16 35 PM](https://user-images.githubusercontent.com/9866992/111825393-

[2021-03-19 20:27] komarovalexander commented on #139
Hi @jorgecuesta,
Thanks for finding that!
I made a workaround for this case: https://stackblitz.com/edit/table-many-rows-js-2fyxub?file=Demo.js
I will keep this issue open and let you know if any updates

[2021-03-19 20:52] jorgecuesta commented on #139
Thanks u so much @komarovalexander that work smooth!

[2021-03-19 21:27] jorgecuesta commented on #139
@komarovalexander one big question about it, can you or the dev team behind it, see if there is a way to "scroll" by the row index or a keyReg to the desired row? something like react-virtualized https://github.com/bvaughn/react-virtualized/blob/master/docs/List.md
![Screen Shot 2021-03-19 at 5 27 00 PM](https://user-images.githubusercontent.com/9866992/111843907-5b3d7580-88d8-11eb-9573-b4ce29630c

[2021-03-19 21:36] komarovalexander commented on #139
do you need something like that: https://stackblitz.com/edit/table-many-rows-js-ybgqhd?file=Demo.js

[2021-03-19 21:39] komarovalexander commented on #139
@jorgecuesta do you need something like that: https://stackblitz.com/edit/table-many-rows-js-ybgqhd?file=Demo.js

[2021-03-19 22:33] jorgecuesta commented on #139
@komarovalexander that is the same I ask in first place here: https://github.com/komarovalexander/ka-table/issues/139#issue-836251346
I was looking for something like a prop in Table component that do this by me. I'm trying to do this also with grouping and is difficult to calculate where the row will be and also to know if the row is visible or not because of the group expand/collapse.

You can c

[2021-03-20 00:21] komarovalexander commented on #139
@jorgecuesta ah it is the tricky case - at this time table does not have built-in ability to do that, but it can be customized in different ways so the solution could be like this: https://stackblitz.com/edit/table-many-rows-js-zziojy?file=Demo.js

[2021-03-20 00:26] komarovalexander commented on #139
regarding your question answer is: `scrollTop` is not so accurate name it just adds an empty line with height =  `scrollTop` for virtual scrolling and the table does not have built-in scroll abilities, they can be done as we discussed above

[2021-03-20 00:27] komarovalexander commented on #139
more accurate case for equal row height: https://stackblitz.com/edit/table-many-rows-js-ofn9ah?file=Demo.js

[2021-03-20 04:39] jorgecuesta commented on #139
@komarovalexander that work smooth! Thanks you very much! now I will look a way to "highlight" the row, my intention is do a "search" that when match rows you can go doing "next or prev" so it will moving the table focus over the results.

The idea behind that is a search like the browser but in a virtualized table.

[2021-03-20 08:52] komarovalexander commented on #139
Just curious: why regular search in the table does not fit your requirement https://komarovalexander.github.io/ka-table/#/search ?

[2021-03-20 09:11] komarovalexander commented on #139
I think to highlight word you can use this component https://github.com/bvaughn/react-highlight-words and return it from table.childComponents.cellText.content ( https://komarovalexander.github.io/ka-table/#/custom-cell )

[2021-03-20 21:31] komarovalexander commented on #138
Hi @barucAlmaguer
please have a look at these two guys:
https://komarovalexander.github.io/ka-table/#/filter-row-custom-logic
https://komarovalexander.github.io/ka-table/#/sorting-custom-logic

[2021-03-20 21:31] #138 closed

[2021-03-21 00:09] jorgecuesta commented on #139
@komarovalexander because the regular search is filtering the table and in my case the element that you match has some kind of "sequence" or context with the previous and next element, so to allow the user to see what they are looking and also preserve the context of the previous and next record of the match.

[2021-03-22 18:01] barucAlmaguer commented on #138
I think this covers the use case nicely, thanks! 🔥

[2021-03-22 21:04] komarovalexander commented on #139
Hi @jorgecuesta
I've just added a good draft example for your feature https://stackblitz.com/edit/table-many-rows-js-hgf2wt?file=Demo.js , I hope it helps!
Thanks for asking about that tricky case, I will wait until other requests before implementing this out of the box.

[2021-03-22 21:04] #139 closed

[2021-03-23 23:42] barucAlmaguer opened #141 "Question: Filter and Sorting logic"
Hi! I'm trying to implement the new features from 6.8.0 (custom Filter logic and custom Sorting logic), but the functions don't appear to be called when I sort any column 🤔

I have custom components for the Head cells, and I trigger an `dispatch(updateSortDirection(column.key))` like this:

[code]

which works great using the default sorting function (here we can see a "sort ascending" icon, and t

[2021-03-23 23:50] barucAlmaguer commented on #141
Update:

Generating a Demo in my project with the exact same code that works in code sandbox (a much simpler table than the one I'm working on), it doesn't work either 🤔

I was expecting it to work being the same code, but it doesn't:
![Screenshot from 2021-03-23 17-48-14](https://user-images.githubusercontent.com/16729556/112233485-24c96880-8c00-11eb-9e5d-654e588b6c56.png)

Code:
[code]

[2021-03-24 06:29] komarovalexander commented on #141
Hi @barucAlmaguer,
custom sorting will not work in the case of '*remote' sorting mode, it also will not be called if the column does not have any sort direction. In the rest cases, it should work. I suppose it is a cache or for some reason, you have an old version of js files of the library. Please check that your node_modules/ka-table/Utils/SortUtils.js` file contains any `customSort` mention, an

[2021-03-24 07:10] barucAlmaguer commented on #141
Yes, Probably it was due to a cache problem in the browser, as I checked the version and node_modules and it was indeed the latest version.

The problem fixed itself so I guess it was some caching issue.

It's working great, thanks!

[2021-03-24 07:10] #141 closed

[2021-03-24 08:44] WZSE opened #142 "Adding New Row with default value"
I have a scenario, where I need to add a new row and get user input only for few cells & other should have some default value at runtime. (e.g. new row created time)

The default value for cell is being read by `rowData` in [CellComponent](url). But `NewRow` initialize this to empty object and I see no way to pass from a prop.

I may be missing a way to implement this if it's already available. If

[2021-03-24 19:10] komarovalexander commented on #142
Hi @WZSE
thanks for your question, really appreciate that. Here is a working example: https://stackblitz.com/edit/table-add-row-ts-4wwart?file=Demo.tsx

some comments:
1) you have to return empty component for editor
[code]
2) before calling `saveNewRow` you can set default value this way:
[code]

let me know if it works for you

[2021-03-24 19:12] joshuagish opened #143 "Resizing column "jumps" when all column widths add up to less than 100% of table width"
https://stackblitz.com/edit/table-column-resizing-js-6xtzc3?file=Demo.js

This also causes the other columns to resize. This is not an issue if the table is scrollable.

[2021-03-24 19:18] komarovalexander commented on #143
Hi @joshuagish interesting case, let me check

[2021-03-25 07:49] komarovalexander commented on #143
@joshuagish good catch! Fixed in 6.8.1 https://stackblitz.com/edit/table-column-resizing-js-zr1owr?file=Demo.js

[2021-03-25 07:49] #143 closed

[2021-03-25 08:38] WZSE commented on #142
Hi, this is exactly what I'm looking for. Thank you, much appreciated.

[2021-03-25 08:38] #142 closed

[2021-04-06 06:56] blinovksiyigor opened #145 "Virtual scrolling + dynamic row height and scroll not an part of header"
Hi @komarovalexander. I'm trying to do both virtual scrolling (i have table with 10k+ rows and dynamic row height) and making scrollbar not part of header. That is what i have right now [sandbox](https://codesandbox.io/s/nice-beaver-tlkyl?file=/src/TableWrapper.jsx). Maybe you can help me. Thanks

[2021-04-06 19:24] komarovalexander commented on #145
Hi @blinovksiyigor, Thanks for asking here is the fix: https://codesandbox.io/s/eager-goodall-pvm2w?file=/src/TableWrapper.jsx

a couple of notes:
1) please use 6.8.1 version of ka-table - version in the provided example does not have fix for dataRow ref, it was fixed 2 month ago https://github.com/komarovalexander/ka-table/pull/133
2) call initDynamicRowsOptions outside of datagrid because otherw

[2021-04-08 07:48] blinovksiyigor commented on #145
@komarovalexander thanks for help. One more question : is there the way to make virtualScrolling enabled by default in table wrapper, if i didn't pass it from parent as prop virtualScrolling: {}, for some reason it is not working

[2021-04-08 08:11] komarovalexander commented on #145
I suppose this is a solution
[code]

[2021-04-12 07:30] WZSE opened #146 "Question - Unable to extract data out of table"
Hi,

Sample fork here: https://stackblitz.com/edit/react-sg3yxj?file=src%2FApp.js

I'm trying to fetch table from db & perform crud operations. Initially table is empty, user creates a row. After that when user trying to save the records in db, I'm getting empty row in the getData method.

In my development code it's just prints empty array while I can data in table in UI.

Similar case with above

[2021-04-12 07:49] blinovksiyigor commented on #145
@komarovalexander, about virtualScrolling as

For some reason not working. https://codesandbox.io/s/mystifying-thunder-mpjzx?file=/src/TableWrapper.jsx

[2021-04-12 16:17] komarovalexander commented on #146
Hi @WZSE

it is because you're passing initial object tablePropsInit `kaPropsUtils.getData(tablePropsInit)` instead tableProps `kaPropsUtils.getData(tableProps)`

[2021-04-12 16:26] WZSE commented on #146
Ah! such an embarrassing miss. Thank you.

[2021-04-12 16:26] #146 closed

[2021-04-12 17:10] komarovalexander commented on #145
that's a good catch! `kaReducer` doe not process `ActionType.ScrollTable`
[code]
Seems like the condition should be removed, I will double-check it and will fix this issue this week
Thanks!

[2021-04-12 20:37] #145 closed

[2021-04-12 20:38] komarovalexander commented on #145
@blinovksiyigor fixed in `6.8.2` - thanks for reporting that!
https://codesandbox.io/s/vigilant-ptolemy-rrt36
enjoy `ka-table`!

[2021-04-23 19:57] barucAlmaguer opened #150 "Question: independent config for column isEditable (create vs update)"
Hello, thanks for the great library! so far it has been working without problems.

I have a question, is there a way to customize the behaviour of the table for the "create row" and the regular rows independently?

the use case is:
imagine I have 4 fields:
- email
- name
- last name
- age

I want to be able to set those 4 fields when creating new rows, but when editing existing rows, I want to dis

[2021-04-23 20:48] komarovalexander commented on #150
Hi @barucAlmaguer
your case is quite widespread and thanks for asking that, there is a workaround:
[code]
newRowId  and CellText are available in ka-table library
link to example
https://stackblitz.com/edit/table-add-row-ts-fxbqjy?file=Demo.tsx

[2021-04-23 20:56] barucAlmaguer commented on #150
great thanks!
I think I can work with that.

still, if it's a widespread use-case, I think it would be great if supported by the main API (tableProps)

but for now this will do the trick

[2021-04-24 16:00] WZSE opened #151 "Table search fails on non-string values"
Hi,

It's great library with tons of demos. Thank you for that.

I have a search box where on selection, I'll send numeric values to search action. This fails on toLowerCase() conversion.

Issue link: https://stackblitz.com/edit/table-search-js-p3mjmx?file=Demo.js

The workaround I can think of is, sending the search item in custom string and handling it in search property function. But this would

[2021-04-25 03:25] komarovalexander commented on #151
Hi @WZSE can you do value.toString() before passing it to the search?

[2021-04-25 04:10] WZSE commented on #151
Hi,

I could do that. But if the value becomes complex object with multiple
properties, wouldn't it fail?

Or even for big object I can stringify into json and parse in search method
like angular material table filter.

I was wondering if there is some other way. If not, thank you, we can close
this issue.

Thanks

On Sun, 25 Apr 2021, 8:55 am Alexander Komarov, ***@***.***>
wrote:

[2021-04-25 04:26] komarovalexander commented on #151
At this time search text can be a string value.  Do you have real use case when you need complex object in your project? ka-table also provides filterRow for more detailed search by particular colums

[2021-04-25 05:30] WZSE commented on #151
My search box is in different file and I would not get to know the columns. Hence I couldn't use `UpdateFilterRowValue`

I have also looked at extendedFilter that's using `react-filter-control`. But I need to use project UI components so couldn't utilize it.

Made a change to illustrate a simple object than a number with possible workaround: https://stackblitz.com/edit/table-search-js-j5kbzs?file=

[2021-04-28 16:33] komarovalexander commented on #151
Hi @WZSE
actually, `extendedFilter` should be your choice because it can work with any other UI components and without them. see comments 1-4 in example https://stackblitz.com/edit/table-search-js-a3r6pp?file=Demo.js

[2021-04-28 16:37] komarovalexander commented on #151
Btw, Thanks for highlighting that! I've found a couple of mistakes in the docs, because of your issue. `search` can take `searchText` as a parameter and it can be string only. For more complex search abilities you have to use `extendedFilter`

[2021-04-28 20:21] komarovalexander commented on #150
Hi @barucAlmaguer there is another one solution with custom reducer
[code]
https://stackblitz.com/edit/table-add-row-ts-ywvfvh?file=Demo.tsx

I think this is a better one.
I do not have plans to implement `isEditableNewRow` option at this time, I will wait for further requests, at this time I'm closing the issue. Thanks for highlighting that!

[2021-04-28 20:21] #150 closed

[2021-04-29 06:29] WZSE commented on #151
Yeap, That's what I am looking for. Thanks for the demo. Can be closed.

[2021-04-29 06:29] #151 closed

[2021-04-29 16:04] barucAlmaguer opened #152 "Customize "search" action"
Hello!

Is there a way to customize the global search action behaviour?

As far as I know, there are 2 ways to implement searches inside the table data:

1. per-column search (implemented setting the "search" field of the TableProps), total customization of the search behaviour
2. global search (implemented by triggering a "search" action like this: `dispatch((search('some text')))` (not fully cus

[2021-04-29 16:52] WZSE commented on #152
Probably the similar scenario https://github.com/komarovalexander/ka-table/issues/151 we had discussed yesterday. So please check it out

[2021-04-29 17:29] barucAlmaguer commented on #152
Yes, I think the solution to #151 also fits my needs, thanks!

[2021-04-29 17:29] #152 closed

[2021-04-29 20:14] komarovalexander commented on #152
Ok. +1 :-)

[2021-04-29 20:37] komarovalexander commented on #152
@barucAlmaguer your case is a bit easir because you have a string in searchText but object value in the column, you can also write like this
[code]
https://stackblitz.com/edit/table-search-ts-p6bwch?file=Demo.tsx

[2021-04-29 20:46] komarovalexander commented on #152
btw if you write column
[code]
Search should work automatically for column2 without additional logic

[2021-05-21 09:02] Boorj opened #153 "Setting column widths with <colgroup/>"
There's quite interesting native workaround to set widths of many columns at once.

[code]

This code works well, natively supported and no need to set `style="width: XXXpx"` to each sell of the table.

@komarovalexander , what do you think is it worth to be implemented? Or, probably there were plans to embed this feature in future?

Also, is there a need to define all widths of `td's`? In fixed l

[2021-05-21 20:16] komarovalexander commented on #153
Hi @Boorj great proposal, I will add ability to set colgroup option in next releases, lets keep this issue open.
I will not change current behavior it will be just a new option.
 Regarding

you should not render 1M rows, table have pagination and virtual scrolling😉

[2021-05-21 20:39] TimNZ opened #154 "Awesome work, roadmap+request"
Love this library, thanks so much for making it and being free.

It's the only one that starts matching the quality of commercial
https://devexpress.github.io/devextreme-reactive/react/grid/docs/guides/getting-started/

I'm stealing nice features from the Devexpress grid, and want to implement summary rows for the table, and groups.
https://devexpress.github.io/devextreme-reactive/react/grid/docs/

[2021-05-21 20:47] komarovalexander commented on #154
Hi @TimNZ Thanks for feedback! I will investigate your proposal next week! I will let you know if any updates

[2021-05-21 21:02] TimNZ opened #155 "[Request] support override props on columns to override table level props"
It looks like table prop sortingMode is passed to all HeadCell.

Can you support a 'sortingMode' prop on columns that overrides the table prop?

This would eliminate need for a custom HeadCell for columns I don't want sorting enabled.

May as well do that for 'columnResizing', 'columnReording' on columns,
and 'editingMode' for data cells.

Reduces the need for custom content just to disable some t

[2021-05-21 21:20] komarovalexander commented on #155
@TimNZ great idea with the pr - don’t hesitate to create it, I will review it, and it will be merged

Btw for editing and resizing column already has

[code]

[2021-05-21 23:05] TimNZ commented on #155
Ahh thanks.  I'll do better at reading through the docs.

[2021-05-21 23:09] TimNZ commented on #154
@komarovalexander lol I see you used to work at Devexress :)

[2021-05-22 01:03] TimNZ commented on #154
@komarovalexander I'm scoping up dev for what feels like more complete grouping functionality, and so far:

**support a dynamic value mechanism for groups, overriding raw group column value**
e.g. I want to group by rows having an age in a range e.g. '1 - 10 years old'
Either a new prop on the Group type passed in groups: [] table prop, such as 'value' that supports a function,
or a 'groupValue' c

[2021-05-22 01:05] TimNZ commented on #155
Will submit PR

[2021-05-22 01:05] #155 closed

[2021-05-22 05:58] Boorj commented on #153
Good news!

yes, that was exactly the point. I haven't look under the hood what do you use in virtual scrolling, so idea was that something might go wrong in the case of using `<colgroup>` with virtual scrolling. Probably you produce several tables for each cached chunk.

Meanwhile, I'm using next workaround.
Created a clone of `Table.tsx` with component, containing `extraOpts` prop.

`// TableWit

[2021-05-22 18:45] komarovalexander commented on #153
Hi @Boorj is colgroup something critical for you? Or it is for research purpose?

[2021-05-23 07:52] Boorj commented on #153
Thanks for asking. Fortunately - no. I have found workaround (as described above). So now it works, and i will just wait for next releases. I realize, that any adding extra options is more architectural issue, not supposed to be hot fixed.
Anyway, this seems to make some speed boost, i will probably try to profile the performance.

[2021-05-25 08:23] 98o718 opened #156 "Question: cellText.content value"
I can only get raw value in cell.elementAttributes.
Is it possible to get the formatted value from cellText.content in cell.elementAttributes?

Thanks!

[2021-05-25 09:27] komarovalexander commented on #156
HI @98o718
You can do this

[code]

[2021-05-25 12:25] komarovalexander commented on #153
Hi @Boorj could you please check how the proposed workaround can work when Grouping is enabled https://komarovalexander.github.io/ka-table/#/grouping

[2021-05-25 12:59] komarovalexander commented on #154
at this time it could be done this way https://stackblitz.com/edit/table-grouping-custom-cell-ts-zr8ejj?file=Demo.tsx

[code]

probably format should work in case of grouping, this is a good catch
[code]
will investigate it and **`format` will be fixed soon** - estimated time: end of this week
also **`value` should be added to `props` in the case of groupCell content**  - estimated time: end of th

[2021-05-25 15:40] Boorj commented on #153
Sure!
Cloned Table and TableWrapper and hardcoded injection of `<colgroup/>` in TableWrapperWithCols.

Feel free to play around here: https://stackblitz.com/edit/table-grouping-ts-d7tdg3?file=TableWrapperWithCols.tsx

But from my point I suppose, that another pitfall will be during handling of columns reorder or another operations with columns.

[2021-05-25 17:26] komarovalexander commented on #154
group formatting in 6.8.3: https://stackblitz.com/edit/table-grouping-custom-cell-ts-wzztqj?file=Demo.tsx

[2021-05-25 18:17] #156 closed

[2021-05-25 20:22] TimNZ commented on #154
Awesome, thanks!

[2021-06-01 10:54] registsys opened #158 "Is it possible to validate duplicated values?"
[code]

[2021-06-01 15:18] komarovalexander commented on #158
Hi @registsys , Thanks for asking that. You can define getValidation
[code]
and pass it results to table
[code]
at this time it is probably the best way to do that. If you have any proposals I'm always open to them! Thanks!

Demo: https://stackblitz.com/edit/table-validation-ts-qtdfvn?file=Demo.tsx

[2021-06-02 05:49] registsys commented on #158
Hi, Alexander. Thank you for your quick answer. I tried your demo example and I see that it  behaves strange - when I click to any input in the score column, each clicked field marks as invalidate

![image](https://user-images.githubusercontent.com/42716494/120430147-39a04600-c37f-11eb-9d56-3bdc24d53c37.png)

[2021-06-02 05:57] registsys commented on #158
Also, I tried to apply this approach to demo with adding new row and it (approach) seems not working. Could you check?

https://stackblitz.com/edit/table-add-row-js-yfhfrs?file=Demo.js

[2021-06-02 06:23] registsys commented on #158
The demo with row editing does not work, too.

https://stackblitz.com/edit/table-editing-row-js-srwp79?file=Demo.scss

[2021-06-02 06:51] komarovalexander commented on #158
this is because instead of `data.find(it => it.name === value)` you need another condition: `data.find(it => it.score === value && rowData[rowKeyField] !== it[rowKeyField])`
example updated: https://stackblitz.com/edit/table-validation-ts-qtdfvn?file=Demo.tsx

[2021-06-02 07:03] komarovalexander commented on #158
For adding new row and editing row: add validation function to state as well
[code]

[2021-06-02 07:54] registsys commented on #158
Thanks a lot for your help.

[2021-06-03 20:19] #158 closed

[2021-06-04 18:39] komarovalexander commented on #154
Hi @TimNZ
The summary row has just released. It is available in v6.9.0: https://komarovalexander.github.io/ka-table/#/summary

Summary row for groups will be released later this month

[2021-06-04 20:01] TimNZ commented on #154
Legend!

I'm working on a release this weekend where I'll want a summary row and table level is good enough for now.
Will start playing shortly.

I've held back on more suggestions+PR until I launch and get feedback from users.

Again, thank you.

[2021-06-04 20:40] korotkevics opened #161 "Subtotals"
Hi! Great work!
I'd like to ask you if the widget supports subtotals (summaries local to groupings)?
I'd like to be able to consolidate values as to my custom logic for each column within a group (e.g. sum values, deduct a single string value based on many etc.)
So when a group is collapsed, there is a local summary.
Is there a way to build it around an existing capability?

[2021-06-05 07:48] komarovalexander commented on #161
Hi @korotkevics
1) If you want to show some summary info in the group row, you can do it this way
https://stackblitz.com/edit/table-grouping-custom-cell-ts-rmagyp?file=Demo.tsx (small note regarding demo: group icons are not shown in the stackblitz  :-) - but it should be fine in a real project)

2) if you want to show summary as an additional row at the end of grouping - this is not possible at t

[2021-06-05 11:34] korotkevics commented on #161
Thanks for the quick response.
I'd like having something like this: https://komarovalexander.github.io/ka-table/#/grouping-custom-row
But ,
- with groups collapsed by default (can be achieved currently with `groupsExpanded: {}`)
- with values consolidated for each column with a custom function that are displayed as normal cells (under an appropriate column) when a group is collapsed. So practicall

[2021-06-05 12:50] komarovalexander commented on #161
Seems like you need TreeMode - then is not supported by ka-table.
but
1) ka-table also has detailsRow:
https://komarovalexander.github.io/ka-table/#/details-row
probably it could be useful for you
 or
2) you can render columns inside custom groupRow

[2021-06-05 13:21] korotkevics commented on #161
Thanks!

1. I'm  now trying exactly this. I am keeping both plain and consolidated rows in a state, and I am resolving plain records based on a key when expanding details. I doubt the performance will be good, we will see. The CSS was a little bit stubborn, had to create a custom table inside.
2. Tried this in the first place, couldn't get around the native CSS.

[2021-06-05 14:18] korotkevics opened #162 "Sorting"
Hi!
And one more question: would you suggest a way to disable manual sorting (do nothing when a user clicks on a column header) while keeping the "passive" single column based sorting?

[2021-06-05 14:30] komarovalexander commented on #162
https://komarovalexander.github.io/ka-table/#/sorting-modes Sorting has singleRemote mode - this is what you need)

[2021-06-05 15:04] korotkevics commented on #162
Thanks! It requires pre-sorting :(

[2021-06-05 15:33] komarovalexander commented on #162
I got what you need, you want to prevent sorting change by click
here it is: https://stackblitz.com/edit/table-sorting-ts-4vkqot?file=Demo.tsx
you need to disable it in dispatch:
[code]
does it work for you?

[2021-06-05 15:35] komarovalexander commented on #161
maybe you could give me an example I could have a look

[2021-06-05 18:52] korotkevics commented on #162
Thanks, it's working great!

[2021-06-05 18:52] #162 closed

[2021-06-05 19:27] korotkevics commented on #161
I have already erased it, unfortunately.
Essentially, the style used by the group row was not giving in to be tweaked and turned into a regular row. Maybe it is possible, I am new to this thing.
I have managed to make it work with the detailed row: I am creating a child table on the expansion, and it is set to take 100% of width, and its column proportions are set to match header column proportion

[2021-06-05 19:40] korotkevics opened #163 "Consider exposing filtering actions"
I've wanted to wire in a custom widget manipulating filters on the table and I've handled it outside of ka-table (I am dispatching my own actions that impact what data is consumed by ka-table).
It'd be nice if ka-table instead exposed a simple action allowing to do the same thing, for example, an action could be accepting a filter such as,

[code]
I am not sure if the syntax is correct, but I thin

[2021-06-05 20:33] komarovalexander commented on #161
just FYI you can change css classes using childComponent elementAttributes property

[2021-06-05 20:33] #161 closed

[2021-06-05 20:38] komarovalexander commented on #163
in the ka-table you can write your own actions and extend the reducer logic as well
http://ka-table.com/docs_action.html#custom-actions
http://ka-table.com/docs_reducer.html#custom-reducer

[2021-06-05 21:53] komarovalexander commented on #163
btw built-in selectAllVisibleRows & selectAllFilteredRows actions do not work for you?

[2021-06-06 19:56] korotkevics commented on #163
Thanks, I will have a look at it!

[2021-06-15 11:45] 98o718 opened #165 "cellText.content cannot be empty string"
I have NaN as raw value and transform it to empty string in cellText.content, but table display raw value because `content || formatedValue || <>&nbsp;</>` in CellText

[2021-06-15 11:49] 98o718 commented on #165
0 will also be ignored

[2021-06-15 12:51] komarovalexander commented on #165
Hi @98o718
you can wrap the result into the empty component like `return <>0</>;`
https://stackblitz.com/edit/table-custom-cell-ts-ardafs?file=Demo.tsx

[2021-06-15 14:10] 98o718 commented on #165
Thank you!

[2021-06-15 14:10] #165 closed

[2021-06-20 05:06] #163 closed

[2021-06-24 12:04] timocov opened #166 "Why the package on npmjs doesn't have dependencies in package.json?"
The published package doesn't have `dependencies` list https://unpkg.com/browse/ka-table@6.9.0/package.json even if it has them https://github.com/komarovalexander/ka-table/blob/master/package.json#L7. Is there any reason for that? For now https://bundlephobia.com/package/ka-table@6.9.0 warns about that and most likely the bundle size might be different (or at least self-size)

![image](https://us

[2021-06-24 12:09] timocov commented on #166
https://github.com/komarovalexander/ka-table/commit/3da526a653e672a324a8becb95b22f7edd84aec6 it seems that removing dependencies from target `package.json` was added a long time ago but I don't really understand why it was needed.

[2021-06-24 17:08] komarovalexander commented on #166
Hi @timocov thanks for your question.
This repo contains ka-table demo site code https://komarovalexander.github.io/ka-table/#/overview - this website is a react application and all these dependencies are required for it.
ka-table library is just a react library and none of these dependencies are required to make it work (except react). It even can work without typescript

[2021-06-25 10:20] timocov commented on #166
@komarovalexander thanks for the answer.

How the consumer of this library might understand this? The package states that it has no dependencies, but actually it has at least 1 (who knows what else and what versions of them).
Also, you might use some features of the new react framework which aren't exist in the previous one, and based on that I'm as a consumer of ka-table library cannot know that

[2021-06-25 10:43] komarovalexander commented on #166
Just install it and if there are any issues with your react version let me know about it creating a github issue it this repo.

[2021-06-25 11:13] timocov commented on #166
@komarovalexander I don't think that anyone will do that on daily basis on every update of the library (we have semver and the dependency tree for that). But anyway thanks for your answer!

[2021-06-25 11:28] komarovalexander commented on #166
@timocov please provide at least one real live example where you have an issue for your react version. I think issue with https://bundlephobia.com/package/ka-table@6.9.0 is that I remove dependencies node completely I think if I just pass empty settings to dependencies it should be fixed on that side.
Also give me example of react library package where react dependency is specified. I think your p

[2021-06-25 11:42] 98o718 commented on #166
For example, https://unpkg.com/browse/react-window@1.8.6/package.json, different versions of react are listed as peerDependencies

[2021-06-25 11:59] komarovalexander commented on #166
It is nice, but it is not dependencies field, @timocov @98o718 do you have some issues when it is not possible to use ka-table with some specific react version and peerDependencies would save your time?

[2021-06-25 13:08] 98o718 commented on #166
At the moment there are no problems, but they may arise if you start using the features of the react that are available only in the latest version. So it would be nice to add the `^ 15.0.0 || ^ 16.0.0 || ^ 17.0.0` versions to the peerDependencies array. It would be a kind of agreement between the developer and the consumers of the library that it will work with React version 15.

[2021-06-25 14:18] komarovalexander commented on #166
Got it, thanks, I will add it in next releases. I need to find oldest version of react which support this component. I tested it on latest 16 and 17. But it should work with older version as I don’t use new features of react here to avoid breaking changes for current users

[2021-06-27 04:04] sowndharraj opened #168 "Select Dropdown while adding new row not working as intented"
Hi i have created the table with add & edit options.But while adding the row select dropdown value is not added to the label. Below i have attached the code
[code]
Thanks in advance

[2021-06-27 08:33] komarovalexander commented on #168
Hi @sowndharraj
May I ask you to fork this example https://stackblitz.com/edit/table-overview-js?file=Demo.js , add your code here, and send the link to it? looks like you are doing it the correct way, maybe there is some tricky mistake

[2021-06-27 14:35] komarovalexander commented on #168
I see https://stackblitz.com/edit/table-overview-js-ujnmwq?file=Demo.js

[2021-06-27 15:48] komarovalexander commented on #168
@sowndharraj
this is a great question, thanks for that!
here is a solution:

newRow has an Id `newRowId` you can import it from const
[code]
it will help you to define the behavior,

please check this link with working code, I updated UnitField logic: https://stackblitz.com/edit/table-overview-js-bzfbdk?file=Demo.js

[2021-06-29 15:09] komarovalexander commented on #166
`ka-table` is compatible with react v16.8.0 and above

js: https://stackblitz.com/edit/table-overview-js-j6kf6d?file=Demo.js
ts: https://stackblitz.com/edit/table-overview-ts-pxnxfg?file=Demo.tsx

I will add this info to peerDependencies in one of the next releases, probably in July. Thanks to everyone for highlighting that

[2021-06-29 16:10] #168 closed

[2021-06-29 20:28] joshuagish opened #169 "Setting sortDirection breaks row reordering"
Reproduction steps: You can load the [sorting logic example](https://stackblitz.com/edit/table-sorting-custom-logic-ts?file=Demo.tsx) and add `rowReordering: true` to tablePropsInit.

You are not able to reorder because `sortDirection` is set.
Should the sort be removed when the user reorders or should this decision be left to the devs?

[2021-06-29 21:19] korotkevics opened #170 "Group header columns"
Hello!

Would you be able to suggest a way of adding an extra header above the normal header grouping columns of the normal header?

For example, there'd be columns such as "Yesterday", "Today", "Tomorrow" grouped as "Weather", "Name" grouped as "Name", "Max", "Min" grouped as "Temperature". Just a random example.

[2021-06-29 21:21] komarovalexander commented on #154
The group summary row released. It is available in v6.10.0: https://komarovalexander.github.io/ka-table/#/grouping-summary

[2021-06-29 21:22] #154 closed

[2021-06-29 21:27] komarovalexander commented on #170
Hi @korotkevics at this time there is no built-in functionality in ka-table to do that.
I think it is the candidate for the next releases, lets keep this issue opened, I think I will be able to release it at the end of this summer
Now you can implement a custom header row. Feel free to contact me if you need any help with that

[2021-06-29 21:48] korotkevics commented on #170
Thank you, take your time:)

Basically, I could write a custom `HeadRow`, right https://github.com/komarovalexander/ka-table/blob/master/src/lib/Components/HeadRow/HeadRow.tsx

[2021-06-29 21:54] komarovalexander commented on #170
you can use child components: http://ka-table.com/docs_props.html#childcomponents headRow

[2021-06-29 22:43] komarovalexander commented on #169
Hi @joshuagish I will provide workaround tomorrow. I think sorting works as expected - it sorts data according to settings. Lets check workaround first and after we will decide if it is worth to add one more sorting mode for that case

[2021-06-30 09:50] komarovalexander commented on #169
here is a workaround
https://stackblitz.com/edit/table-sorting-custom-logic-ts-qafy7p?file=Demo.tsx
[code]

[2021-06-30 09:52] komarovalexander commented on #169
I think that it should be handled by devs at this time, but maybe if there is more request for that I could be implemented in `ka-table` out-of-the-box

[2021-06-30 09:52] #169 closed

[2021-06-30 22:38] TimNZ commented on #154
@komarovalexander legend!  Thanks so much.
Migrating all my tables from react-table to KA.

[2021-07-06 17:39] komarovalexander opened #171 "Consider using Semantic Release tool to automate releases"
https://github.com/semantic-release/semantic-release

[2021-07-06 17:54] komarovalexander commented on #166
`peerDependencies` has been added https://bundlephobia.com/package/ka-table@6.11.5

[2021-07-06 17:54] #166 closed

[2021-07-06 19:22] #171 closed

[2021-08-08 20:41] #153 closed

[2021-08-08 20:41] #170 closed

[2021-08-08 20:42] komarovalexander commented on #170
@korotkevics it is available starting from v: 7.0.0
Demo: https://komarovalexander.github.io/ka-table/#/grouped-columns

[2021-08-08 20:52] komarovalexander commented on #153
Hi @Boorj
it was finally fixed in v7.0.0
the column now has additional properties:
1) `width` which is actually syntax sugar for `colGroup.width`
2) `colGroup` - place where all attributes for col group can be set

Thanks for highlighting that tricky moment I was considering improving that but was not sure if people care about it - this issue changed my mind. Furthermore, colgroup is useful for gr

[2021-08-15 12:29] WZSE opened #177 "Expose validation as dispatchable action"
Currently I have this grid that contains almost all columns editable all the time. I'm using CellEditorString with custom onBlur. Also some mandatory field validation.

Now this validation kicks in only when SaveNewRow/SaveRowEditors. It would be nice if that's exposed as an action in reducer, so I can trigger that explicitly which could display the validation messages.

[2021-08-15 16:26] komarovalexander commented on #177
Hi @WZSE I already opened a pr. I will merge it later next week - at this time I have some issues with Travis CI hopefully they will solve it soon.
If you need it immediately you can create a custom reducer for that action https://github.com/komarovalexander/ka-table/pull/178/files#diff-fa7a5559cb192411f4e172917bc53951a25e473127ec47f8c631a16f72fffb27R311

[2021-08-16 08:42] WZSE commented on #177
Great, I have used the above commit as custom dispatcher action. Thanks for the quick update.

However once I start using this, I see the workflow is not fitting for what I'm expecting. Perhaps this is a different issue, but the workflow is:

1. I have to customize `Cell` attribute of table to display `CellEditorString` all the time.
2. Perform validation in some custom button click
3. Now `editab

[2021-08-16 16:32] komarovalexander commented on #177
Hi @WZSE
I think you don't need to show `CellEditorString` in the `Cell` - it is better to open editors using `editableCells`

check comments in this example https://stackblitz.com/edit/table-add-row-js-dtrlfz?file=Demo.js

is it something you are looking for? let me know if you need something else here

[2021-08-18 09:01] WZSE commented on #177
Yeap, exactly what I'm looking for. Thank you for much help

[2021-08-18 09:01] #177 closed

[2021-08-18 17:07] komarovalexander commented on #177
Hi @WZSE starting from `7.1.0` there is a new API, which could make code easier to read, check this demo https://komarovalexander.github.io/ka-table/#/editing-table maybe this solution will be even better for you

[2021-08-19 04:53] WZSE commented on #177
Cool! Instead of useEffect, I'll use this.

Although it's not my requirement, don't you see another action called `closeAllEditors` would be another fine addition?

[2021-09-08 22:53] domehead100 opened #180 "Classnames ?"
Is there no way to set a className on the table?  I searched for the word on the Props page in docs and did not find any hits.  Also tried to pass it in (with @ts-ignore), and no joy.

Why?  Because there are some things I want to do with CSS.  The fact that this is an actual HTML table is great and opens up lots of cool things that can be done with tables but not div-based grids.

Maybe I'm missi

[2021-09-09 02:58] domehead100 commented on #180
Ah, childComponents.

Sorry for the noise.

[2021-09-09 02:58] #180 closed

[2021-09-30 22:56] mihaibrana opened #181 "Strange behavior when using state store/restore"
Hi :). I've implemented your example here, mostly to save filter status.

https://komarovalexander.github.io/ka-table/#/state-storing

It works fine when reloading the page. However, when I navigate to another address in my React Router, and then come back the grid, it uses the OLD filter. Only when I reload the page does it apply the actual last filter I used.

Behavior:

Grid loads fine with its

[2021-10-02 10:49] komarovalexander commented on #181
Hi @mihaibrana could you share a simple example project with the issue?

[2021-10-03 09:18] mihaibrana commented on #181
Your question leads me to believe that you couldn't reproduce this and that maybe the issue is somewhere in the rest of my project code. In any case, yes, I can create a project. But it'll take me some time... will get back eventually :).

[2021-10-21 03:06] efitzkiwi opened #183 "Add new row at index"
It seems like showNewRow only adds a new row to the top of the table. I'm currently trying to create excel-like functionality where right-click brings up context menu for the row, and there is an option to insert a new row above the selected row:
![image](https://user-images.githubusercontent.com/9599423/138204434-4a5cb3c4-701d-4406-a507-15f293760ccc.png)

Context menu seems doable, but inserting

[2021-10-21 06:36] komarovalexander commented on #183
Hi @KillerKiwiJuice. I think in your case you can simply add an empty row object (id is required) the required position in table data. And after that call “openRowEditors“ for that row. Let me know if you need help with that

[2021-10-24 18:13] #183 closed, assigned to komarovalexander

[2021-11-02 06:51] KillerKiwiJuice opened #185 "Virtualized scroll dynamic height"
Hello, I would like the Ka-Table height to scale with its parent container when using virtualized scrolling AKA use 100% of parent container, even if parent is resized.

I have tried using SizeMe (https://github.com/ctrlplusb/react-sizeme) My final setup is this, but does not work.
[code]

https://user-images.githubusercontent.com/9599423/139798989-c6af2bc1-a53c-42ec-bec1-9add91943e9f.mp4

[2021-11-02 08:21] komarovalexander commented on #185
Hi @KillerKiwiJuice
I think issue is here

childComponents={{
                tableWrapper: {
                  elementAttributes: () => ({ style: { **height: "800px"** }})
                },
              }}

Try to set size.height here or remove this settings at all

[2021-11-02 08:26] komarovalexander commented on #185
Also try to update bodyHeight in virtualScrolling option http://ka-table.com/docs_props.html#virtualscrolling

[2021-11-02 19:02] KillerKiwiJuice commented on #185
This code worked :) tnks

[code]

[2021-11-02 19:02] #185 closed

[2021-11-04 01:20] KillerKiwiJuice opened #186 "Strange keyboard navigation with PopperJS"
There is a strange issue, I am not sure if it's related with Ka-Table, PopperJS or Blueprint react. But I have narrowed it down to this component: (https://blueprintjs.com/docs/#core/components/menu). Blueprint Menu uses PopperJS.

Issue description: when a cell is focused, then "enter" key is pressed, the dispatch function calls OpenEditor immediately followed by CloseEditor, which means "enter"

[2021-11-04 05:33] komarovalexander commented on #186
Hi @KillerKiwiJuice
when Editor loses focus ka-table calls CloseEditor if EditingMode.Cell is enabled
For some reason when you press enter, the editor loses focus on the Editor element after clicking,

You can fix it adding `e.stopPropagation();` for `onKeyUp`
https://stackblitz.com/edit/table-keyboard-navigation-js-yygtys?file=Demo.js

[2021-11-04 05:46] komarovalexander commented on #186
Thanks for highlighting that, I've added the note to the documentation

[2021-11-04 05:46] #186 closed

[2021-11-05 15:36] Boorj commented on #153
@komarovalexander Thank you! Great! Appreciate a lot

[2021-11-06 07:57] Boorj commented on #153
btw, @komarovalexander have you checked out if this change increased performance?

[2021-11-06 08:17] komarovalexander commented on #153
Hi @Boorj I did not. This feature was very useful for https://komarovalexander.github.io/ka-table/#/grouped-columns implementation

[2021-12-22 09:11] codeorelse commented on #142
@komarovalexander thanks for your example and your great work on ka-table in general. I'm just wondering how this would work if you have for example a dropdown where you want to have a default value when ShowNewRow, so the user can still change the value before actually saving to the server. How would that work then?

[2022-01-10 05:01] raghavakhil opened #193 "Icons are not displaying"
![image](https://user-images.githubusercontent.com/40756706/148720277-7b2a69c2-c582-458e-987d-6a6257483582.png)

Sort and Filter Icons are not displaying in ka-table v 7.3.1. Any advise to resolve this issue? Please let me know

[2022-01-10 06:28] komarovalexander commented on #193
Hi @raghavakhil is it real project or is this stackblitz?

[2022-01-10 14:09] raghavakhil commented on #193
This is a stackblitz example, but even when I tried in real project I am not able to see the icons

And it is better to enhance the filter with "select all" option by adding another checkbox at the start of the filter values

[2022-01-10 14:22] komarovalexander commented on #193
@raghavakhil can you share the zip file with the project where it does not work?

[2022-01-11 11:29] raghavakhil commented on #193
Sorry I cannot share that one....

[2022-02-08 15:21] philecker opened #196 "Issue with id not being unique"
I currently have an issue with having the ID of my TH being the same as a ID of my form inputs. I can't change the ids of my form, so I'm wondering if there is the ability to change the ID that is being output to the TH in Ka-Table?

[2022-02-08 17:06] #196 closed

[2022-02-27 09:47] amoran opened #198 "Multiple Tables in Redux"
Is it currently possible to have multiple different tables while using the dispatch from redux?  If so, how do you specify which table the actionCreator should be referencing?

For example, specifying which table is loading if multiple exist in one app:

`dispatch(showLoading())`

[2022-03-01 07:23] subbufreelancer opened #199 "Fixed Columns"
How to add multiple fixed columns.. could you please suggest. I could see an example with single column with style left: 0 ?

[2022-03-01 14:44] #199 closed

[2022-03-01 14:47] subbufreelancer opened #200 "Fixed Column"
How to add multiple fixed columns.. could you please suggest. I could see an example with single column with style left: 0 ?

[2022-04-07 14:47] Surfkeks opened #202 "Using Treemode with virtual scrolling and dynamic height causes scroll wiggle"
Hello,

first of all thanks for this amazing library! I used it a lot the last month and really like it.
I am building a database that uses virtual scrolling, dynamic row height and treemode.

**Sadly, as soon as i enable treemode, the virtual scrolling jumps around a lot and the whole table is unusable.**

I could reproduce the issue with your demos: https://stackblitz.com/edit/table-tree-mode-ts

[2022-05-10 13:40] normand1 opened #204 "Material UI Support / Examples"
Hi, I'm really enjoying using this project, but I'm struggling with integrating it with the rest of the Material UI design system I'm using: https://mui.com/material-ui/react-table/

I've updated all of the child components with the expected classes for MUI, but I'm, not seeing the styles reflected in ka-table.
Any help or suggestions for integrating with MUI would be appreciated!

ps. I've checke

[2022-06-11 21:49] iliyanyotov opened #205 "SSR support"
Hey,

Are there any plans to support SSR rendering in the future? I've used the library in plain React projects but would love to continue using it with Nextjs for example.

`ReferenceError: document is not defined`

[2022-06-28 05:04] SRGajjala opened #207 "How can we provide select all checkboxes and filtering checkbox items with textbox at the top in autocomplete manner in header filter over the react table grid"

[2022-07-13 04:00] dinoDanic opened #208 "next js support?"
Dose ka-table works with Next js?

Server Error
ReferenceError: document is not defined

[2022-07-28 12:18] ZenWhite opened #213 "rowSpan and colSpan for the cells"
Hi. I need to display a grid of data and I noticed this library. It works for me, but I can't find a way to merge cells horizontally or vertically. Maybe I am not reading the documentation carefully :3. Can I achieve the desired result?

[2022-08-09 10:42] gerryfletch opened #214 "Pagination Not Updated During Group Mode Expansion/Contraction"
Hello, amazing library! Appreciate all the work that's gone into it.

I'm using fixed pagination, i.e. `paging: { enabled: true, pageSize: 10 }`, but when using column groups, if I contract the grid down to 1 or 2 rows, the pagination numbers have not updated, and visiting the 2nd page results in an empty grid.

Ideally, the paging would reflect the number of visible rows and update when the colla

[2022-08-09 10:55] komarovalexander commented on #214
Hi @gerryfletch can I ask you to provide an example for your case, for example on stackblitz: https://stackblitz.com/edit/table-paging-ts?file=Demo.tsx

[2022-08-09 11:47] komarovalexander commented on #205
HI @iliyanyotov, good catch! I will have a look this week

[2022-08-09 11:50] komarovalexander commented on #208
I think it has the same reason as https://github.com/komarovalexander/ka-table/issues/205 I will have a look this week

[2022-08-09 11:53] komarovalexander commented on #202
Hi @Surfkeks can you share an example with the tree mode? Looks like this is not enabled in your example https://stackblitz.com/edit/table-tree-mode-ts-8fzzw8?file=Demo.tsx thanks!

[2022-08-09 11:55] komarovalexander commented on #198
Hi @amoran
I think there should be a way (for example you can have separate dispatch for each table), can you share your example of where you need to implement that?

[2022-08-09 12:07] komarovalexander commented on #213
Hi @ZenWhite may I ask you to provide more details on your case? what data you need to show and in what way?
I think this is possible using childComponents https://stackblitz.com/edit/table-overview-ts-nvy25w?file=Demo.tsx

[2022-08-09 12:47] komarovalexander commented on #200
hi @subbufreelancer
you can add settings for the second column to childComponent
here is an example https://stackblitz.com/edit/table-fixed-column-ts-w9empz?file=Demo.tsx

[2022-08-09 12:47] #200 closed

[2022-08-09 12:55] komarovalexander commented on #207
Hi @SRGajjala
this is a good question I will keep it open for a while.
At this time there is no build-in functionality for that, but you can implement it on your own manner, you just need to override childComponent for popupContent

[2022-08-09 15:09] gerryfletch commented on #214
Sure! Here you go:

https://stackblitz.com/edit/table-paging-ts-q8alm3?file=Demo.tsx

I changed the data array to have the same value for column 4 then added `  groups: [{ columnKey: "column4" }],` to the config.

If you just collapse the row, and then navigate to any of the pages :)

[2022-08-09 18:57] komarovalexander commented on #214
this is good catch

[2022-08-10 10:37] #205 closed

[2022-08-10 10:38] komarovalexander commented on #205
it should work starting from v7.3.3

[2022-08-10 10:38] komarovalexander commented on #208
it should work starting from v7.3.3

[2022-08-10 10:38] #208 closed

[2022-08-11 18:52] komarovalexander commented on #214
fixed in 7.3.5 https://stackblitz.com/edit/table-paging-ts-2qredp?file=Demo.tsx

[2022-08-11 18:52] #214 closed

[2022-08-11 19:27] gerryfletch commented on #214
Thank you so much for the quick fix! Really appreciate it

[2022-08-12 10:18] olliejm opened #221 "Empty state for remote data"
Perhaps I missed something but I don't see any way to provide some JSX to render when the table has an empty data array? For remote fetched data it's possible that there can be no results, if you're using some sort of filtering, so I think it should be possible to optionally define what should be rendered within the table body when the data array is empty

[2022-08-12 10:49] komarovalexander commented on #221
Looks like you are speaking about childComponents noDataRow: see how it works in this demo https://komarovalexander.github.io/ka-table/#/search just enter some random text to search field

[2022-08-12 10:52] olliejm commented on #221
Ah thank you I missed that completely, makes sense

[2022-08-12 10:52] #221 closed

[2022-08-15 20:29] komarovalexander commented on #207
#187 similar question

[2022-08-19 15:48] gopalkcts opened #227 "Virtual Scroll not working when pagination is set"
Hi Alex
  When I set the below config for the table

 const tablePropsInit: ITableProps = {
  columns: columnsArray,
  data: data.queryResponse.dataRecords,
  rowKeyField: 'id',
  virtualScrolling: {
    enabled: true
  },
  filteringMode:FilteringMode.FilterRow,
  sortingMode:SortingMode.Single,
  selectedRows:[0],
  columnResizing: true,
  width:3000,
  paging: {
    enabled: true
  },
};

I see

[2022-08-19 15:50] gopalkcts opened #228 "How to identify the selected rows on a table?"
Hi Alex
  When we select all the rows or few rows by click on the checkbox,Is there a way to find out the number of rows selected and their row details?

Thanks
Gopal

[2022-08-19 16:40] komarovalexander commented on #228
selection demo: https://komarovalexander.github.io/ka-table/#/selection

yes, all selected ids are stored in `selectedRows` property of the table, it is an array so you can easily know length of it. And to get additional data about selected row you have to search by data array (or another datasource)

[2022-08-19 16:49] komarovalexander commented on #227
Hi @gopalkcts this is because you did not set page size property
[code]
by default, pageSize is 10 so there is not enough data to do virtual scrolling, probably all of them are shown on one page without scrolling

[2022-08-19 16:49] #227 closed

[2022-08-22 08:12] ZenWhite commented on #213
Thank you for your reply! I have the task of combining rows and columns. Example of combining rows: a cell with the name of the day of the week, which can be stretched to 9/18 rows. Example of combining columns: a cell with a card, which can be combined into n columns

[2022-08-22 09:04] komarovalexander commented on #213
Sorry, Can’t imagine it, can you share of example of UI design of it?

[2022-08-22 09:38] komarovalexander commented on #213
I added an example for rowSpan as well https://stackblitz.com/edit/table-overview-ts-uqgnqt?file=Demo.tsx (column:3 row:3 is placed into 2 rows)
let me know if this solution is sufficient for you

[2022-08-22 14:27] ZenWhite commented on #213
Thanks for the solution! I am currently modifying your code for my task in order to verify performance and operability. After all, some libraries have pretty big problems with rowSpan/colSpan. I'll write back a little later

[2022-08-22 15:18] ZenWhite commented on #213
In all the examples, you used a static list of columns. Can you tell me what I need to do to load the columns dynamically? Since it's not quite clear to me how to tie this in with the dispatch:
![image](https://user-images.githubusercontent.com/44776755/185956609-c9126a6c-6a2f-430f-8f1b-6ab12356ea6b.png)
My data is displayed, but at the same time there is a strange empty space:
![image](https://us

[2022-08-22 15:41] komarovalexander opened #230 "In all the examples, you used a static list of columns. Can you tell me what I need to do to load the columns dynamically?"
_Originally posted by @ZenWhite in https://github.com/komarovalexander/ka-table/issues/213#issuecomment-1222505828_

Since it's not quite clear to me how to tie this in with the dispatch:
In all the examples, you used a static list of columns. Can you tell me what I need to do to load the columns dynamically? Since it's not quite clear to me how to tie this in with the dispatch:
![image](https://u

[2022-08-22 15:41] #213 closed

[2022-08-22 15:46] komarovalexander commented on #230
Hi @ZenWhite

can you try to use just `virtualScrolling: { enabled: true }` without height settings?

[2022-08-22 15:52] komarovalexander commented on #230
do you need action to add a column? like `dispatch(addColumn(column))` - at this time table do not have that but I can add it later if necessary, or you just can do `tableProps.columns.push(column)`

[2022-08-22 15:53] komarovalexander commented on #230
can you move those settings to tableProps:
![image](https://user-images.githubusercontent.com/17903747/185964571-d59e02f0-523d-4def-9ed2-5cdf4e73f130.png)

otherwise kaReducer will not change them, this also could be the reason why virtual scrolling does not work

[2022-08-22 15:59] komarovalexander commented on #230
like
[code]

[2022-08-22 16:04] ZenWhite commented on #230
I moved the data and it updates. But the empty space still exists:

![image](https://user-images.githubusercontent.com/44776755/185966493-61396e7a-c82a-43eb-a303-70696dee8776.png)
![image](https://user-images.githubusercontent.com/44776755/185966853-f5dbde6b-829a-44e7-9740-be3dde7d6106.png)
![image](https://user-images.githubusercontent.com/44776755/185966161-5b687769-5e55-488a-8a49-78c60934cb8d.p

[2022-08-22 16:23] komarovalexander commented on #230
can you reproduce it on stackblitz?  https://stackblitz.com/edit/table-overview-ts-nvy25w?file=Demo.tsx

[2022-09-01 09:01] olliejm opened #231 "Remote sorting"
I'm looking at the [example for remote sorting](https://komarovalexander.github.io/ka-table/#/remote-data-editing) and it implies that this should be handled by checking the `action.type` in the dispatch function.

That makes sense, but I don't see any properties on `action` informing me which column was just sorted, and what the new sort direction is, so I don't seem to be able to access the info

[2022-09-01 09:56] olliejm commented on #231
Nevermind - I found `import { getSortedColumns } from 'ka-table/Utils/PropsUtils';`

[2022-09-01 09:56] #231 closed

[2022-09-05 08:58] olliejm opened #232 "Visualise the initial sort state, and disable sort for specific columns"
When I click on a column to sort it, an arrow appears indicating the sort direction.

I'm missing a way to ensure that this arrow is present initially when a sort is pre-applied, there doesn't appear to be any `sortable`, `sorted` or `sortDirection` or similar props on the `Column` type to provide information about the initial state, before the table is interacted with. My remote data query howeve

[2022-09-05 09:04] chenshy39 opened #233 "support insert new col at index"

[2022-09-05 10:37] komarovalexander commented on #232
Hi @olliejm there is ‘sortDirection’ property
Docs https://ka-table.com/docs_props.html#toc1
Demo https://komarovalexander.github.io/ka-table/#/sorting

[2022-09-05 10:47] komarovalexander commented on #232
“I'm also not sure how to disable sorting on a specific column - I have some columns which should not be sortable within a table of otherwise sortable columns. I saw https://github.com/komarovalexander/ka-table/issues/162#issuecomment-855256218 suggesting not to dispatch the props change, but that seems to completely prevent all sorting from the point that the non-sortable column is interacted wit

[2022-09-09 09:24] olliejm commented on #232
Thanks. I missed the sortDirection somehow

[2022-09-10 11:01] komarovalexander commented on #232
`column.isSortable` was added in `v7.6.0`
details here:  https://github.com/komarovalexander/ka-table/releases/tag/7.6.0

[2022-09-10 11:01] #232 closed

[2022-09-13 13:01] ceessay opened #237 "Accessing current row count on grouped and filterable table"
Hi thanks very much for the work. This library is hands down the best table library out there.
My colleagues and I are in awe and grateful for the thoughtfulness.

We have a use case where we have a grouped and filterable (header filter) tables.

Is there is a way to access the updated row count of each group when filtering changes ?  We need to display that row count

My apologies if the is not t

[2022-09-13 14:54] komarovalexander commented on #237
Hi @ceessay do you need to show that length in grouping summary: https://komarovalexander.github.io/ka-table/#/grouping-summary ?
there is a demo how to do that for filtered values: https://stackblitz.com/edit/table-grouping-summary-ts-khj3mx?file=Demo.tsx

[2022-09-13 15:06] komarovalexander opened #238 "Sticky position does not set for group header cell"
![image](https://user-images.githubusercontent.com/17903747/189937847-a8596ea4-e251-4bc1-80ce-1cb829fd5b36.png)

[2022-09-13 16:49] ceessay commented on #237
No int the grouping header instead like in the capture below
![image](https://user-images.githubusercontent.com/15385670/189960288-f6a345eb-642b-40ff-bb45-cb5aeaa511c6.png)

[2022-09-13 18:52] komarovalexander commented on #237
Unfortunately, the group data is not available in the current version of the component, I will add it out of the box in the next versions.
At this time you can use this workaround: https://stackblitz.com/edit/table-grouping-summary-ts-mzq1zw?file=Demo.tsx

[2022-09-14 11:46] ceessay commented on #237
This is exactly what I needed! Thanks for the help

[2022-09-14 21:15] hope-portal-services opened #239 "Action on individual row render"
This may be a specific need unique to me, but I could see it being a useful hook to include.

I suppose creating your own dataRow component could accomplish something similar, but a more straightforward approach would be to have a `beforeRender` hook for rows. This functionality could extend to cells or columns, but specifically to be able to fire a function on each row render would be a useful fe

[2022-09-16 08:56] komarovalexander commented on #239
Hi @hope-portal-services for what purpose do you need it?
You can use content property in child component and do not return anything
demo: https://stackblitz.com/edit/table-overview-ts-unpvtj?file=Demo.tsx
It executes before every render and in case nothing is returned renders the default row

[2022-09-16 22:31] #238 closed

[2022-09-17 13:12] komarovalexander commented on #237
Closing for now as there is a workaround. Will wait for further requests to make it out of the box

[2022-09-17 13:12] #237 closed

[2022-09-21 21:16] mmartinsky opened #241 "Multiple Client Side Sort"
I think it would be useful to have a Multiple / MultipleTripleState sort that does not require remote - are there any challenges to implementation you have already encountered?

[2022-09-23 23:07] barucAlmaguer opened #242 "Virtual scrolling breaks when showing new row"
Hi, I just found an issue when triggering the "show new row" action on a virtualized table.

You can easily reproduce the case with the default virtualized example from ka-table docs:

[TS Example](https://stackblitz.com/edit/table-many-rows-ts?file=Demo.tsx)

And triggering the action like this in the body of the Component:

[code]

result:

<img width="864" alt="Screen Shot 2022-09-23 at 18 04 5

[2022-09-24 10:59] #239 closed

[2022-09-27 21:02] komarovalexander commented on #242
Hi, @barucAlmaguer thank you! I have reproduced that and will fix it this week

[2022-10-02 10:55] #242 closed

[2022-10-02 10:55] komarovalexander commented on #242
the issue was fixed in `7.6.2` version
demo https://stackblitz.com/edit/table-many-rows-ts-akyv2v?file=Demo.tsx

[2022-10-03 20:17] barucAlmaguer commented on #242
Thanks!
I'll check it out 😄

[2022-10-03 21:38] dcantu96 commented on #242
@komarovalexander hi there, I'm helping @barucAlmaguer test this bug fix we stumbled upon a funny type error.

[code]

The `ActionType` enum type has a `UpdateTreeGroupsExpanded` with the value being `"UpdateTreeGroupsExpanded "` with an empty space at the end.
![Screen Shot 2022-10-03 at 16 37 32](https://user-images.githubusercontent.com/32658690/193689719-981df4fc-a627-4208-b050-45f3e3af8c97.pn

[2022-10-03 21:47] dcantu96 opened #244 "ActionType Type error"
@komarovalexander hi there, i think I found a type error.

The `ActionType` enum type has a `UpdateTreeGroupsExpanded` with the value being `"UpdateTreeGroupsExpanded "` with an empty space at the end.

[code]

![Screen Shot 2022-10-03 at 16 37 32](https://user-images.githubusercontent.com/32658690/193689719-981df4fc-a627-4208-b050-45f3e3af8c97.png)

_Originally posted by @dcantu96 in https://gith

[2022-10-03 21:52] dcantu96 commented on #244
https://github.com/komarovalexander/ka-table/pull/245

[2022-10-04 08:18] komarovalexander commented on #244
Thanks for helping!

[2022-10-04 08:18] #244 closed

[2022-10-04 08:19] komarovalexander commented on #244
your fix is available in `7.6.3`

[2022-10-04 15:08] dcantu96 commented on #244
Thanks @komarovalexander ❤️

[2022-10-11 18:51] aleksei-baryshnikov opened #246 "Sorting doesn't work if custom header component"
If using a custom header cell component then it won't work.

Example:
https://stackblitz.com/edit/table-custom-header-cell-ts-a3crzg?file=Demo.tsx

[2022-10-11 21:16] komarovalexander commented on #246
Hi @aleksei-baryshnikov
`headCell` overrides the whole component and its behavior
you have 2 ways to make it work:
1) use `headCellContent` https://stackblitz.com/edit/table-custom-header-cell-ts-vkmq6n?file=Demo.tsx
OR
2) add onclick and dispatch required action: https://stackblitz.com/edit/table-custom-header-cell-ts-xfhmuf?file=Demo.tsx

best regards

[2022-10-11 21:16] #246 closed

[2022-10-18 15:24] arutsh opened #248 "Custom Header Filter, need advise"
Hello,

I am trying to make a custom header filter.
I have following code
`ldComponents={{
            headFilterButton: {
              content: (props) => {
                switch (props.column.key){
                  case 'name': return <></>;
                  case 'price': return <NumberEditor {...props}/>;
                }
              }`

When I try it shows both elements mine and default

[2022-10-18 19:16] komarovalexander commented on #248
Hi @arutsh
I think you can do something like this:
https://stackblitz.com/edit/table-header-filter-ts-4yxuvs?file=Demo.tsx
in this demo `childComponents.popupContent` is used to override popup content
[code]
and FilterRowDataType is the component which is used by filterRow. So basically you can place filterRow cell into header filter popup

cheers!

[2022-10-18 19:16] #248 closed

[2022-10-19 10:42] arutsh commented on #248
Thanks Alex,
exactly what I was looking for. Works like charm

[2022-10-21 00:35] tyteen4a03 opened #250 "Customization on pagination values"
Is there a way to center the list of pages available while still keeping the page size option on the left? (Or is there a way to put in custom components for the pagination bar?)

[2022-10-21 00:39] tyteen4a03 commented on #250
No idea how I missed the https://komarovalexander.github.io/ka-table/#/custom-paging page!

[2022-10-21 00:39] #250 closed

[2022-10-21 00:53] tyteen4a03 opened #251 "useLayoutEffect warnings when using Remix"
I seem to be getting a bunch of warnings about useLayoutEffect when using this library with Remix:
[code]

I worked around the issue by using `<ClientOnly>` from remix-utils but it would be great if this could also work SSR :D

[2022-10-27 23:37] hope-portal-services opened #253 "rowReordering use case"
While `rowReordering` is a neat feature, how is it utilized aside from visually reordering whats currently on the screen?

You can harness `onDrag` and `onDrop` on a `dataRow` childComponent - But this doesn't really accomplish much.

OnDrag, if you were to pull the dataRow's rowData, its the current row
OnDrop, if you were to pull the dataRow's rowData, its whichever row the dragged row was dropp

[2022-10-28 09:14] komarovalexander commented on #253
Hi, I did not get your question. Here is a demo that shows that actual index is also changed: https://stackblitz.com/edit/table-row-reordering-ts-nehztu?file=Demo.tsx

[2022-10-28 09:21] hope-portal-services commented on #253
Hi @komarovalexander, thanks for your response. I don't know how I missed this, but this demo explains it perfectly. Thanks!

[2022-10-28 10:03] #253 closed

[2022-10-31 08:46] zatopek-firstis commented on #193
Greetings, I have ran into the same problem with icons.

By what I have found, the problem has 2 possible causes.
First cause is by overwriting font used in KaTable, and that particular font does not have support for utf-8 (unicode) icons.
Second cause is when client computer does not have the used font with support for icons installed.

Unfortunately we have to use our font, which does not suppor

[2022-11-02 22:05] Iyadchafroud opened #254 "jsx element"
how can i add a Column of type **JSX**  for exemple button to open modal

[2022-11-02 22:06] komarovalexander commented on #254
Hi, see demo https://komarovalexander.github.io/ka-table/#/alert-cell

[2022-11-02 22:06] #254 closed

[2022-11-03 11:27] zatopek-firstis opened #255 "Allowing users to group by columns"
Greetings, I would like to discuss possibility of users defining by what column they want to group by.

Right now, I have found in your documentation and examples that it can be done only during initialization of tableProps, or by setting groups directly through setTableProps.

What I have in mind is, on Table would be some boolean like "allowUserGrouping", where if it is true, there would be some

[2022-11-03 11:36] komarovalexander commented on #255
Hi thanks for your request, This is feature which would be useful in ka-table, but there are no plans to implement that till the end of the year. I will keep this issue opened and will let you know if any updates

[2022-11-05 11:57] normand1 commented on #193
Yep, turned out using a font that didn't support the unicode icons was my issue as well. Solved my issue by updating my css like so:
[code]

[2022-11-29 21:10] Lootvoet commented on #251
Any update on this?
Still have this issue when using NextJS with ka-table version 7.6.3.

[2022-11-29 23:33] komarovalexander commented on #251
Hi @Lootvoet  thanks for the question, I expect release with the fix until the end of this week, I will keep you updated

[2022-11-30 22:52] #251 closed

[2022-11-30 22:52] komarovalexander commented on #251
@Lootvoet @tyteen4a03 the issue has been fixed in 7.6.4